{% load url from future %}
{% load assets %}
{% load compress %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="ROBOTS" content="INDEX, FOLLOW" />
        <title>{% block title %}{{ app_name|title }}{% endblock %}</title>
        <meta name="author" content="" />
        <meta name="dc.language" content="en" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}hyperkitty/img/favicon.ico" />
        <link rel="stylesheet" media="all" href="{{ STATIC_URL }}hyperkitty/libs/jquery/smoothness/jquery-ui-1.10.3.custom.min.css" />
        <link rel="stylesheet" media="all" href="{{ STATIC_URL }}hyperkitty/libs/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" media="all" href="{{ STATIC_URL }}hyperkitty/libs/font-awesome/css/font-awesome.min.css" />
        {% assets filters="cssrewrite,cssmin", output="gen/hyperkitty.css", "hyperkitty/css/hyperkitty-user.css", "hyperkitty/css/hyperkitty-threadslist.css", "hyperkitty/css/hyperkitty-message.css" %}
        <link rel="stylesheet" media="all" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% if debug %} 
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}hyperkitty/less/hyperkitty.less" />
        {% else %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}hyperkitty/less/hyperkitty.less" />
        {% endcompress %}
        {% endif %}
        {% block additional_stylesheets %} {% endblock %}
    </head>
    {% load i18n %}

    <body>

    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header col-md"> <!--part of navbar that's always present-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> 
                <a class="navbar-brand" id="archives-name" href="{% url 'root' %}">{{ app_name|title }}</a>
            </div> <!-- /navbar-header -->

            <div class="navbar-collapse collapse"> <!--part of navbar that's collapsed on small screens-->
                <ul class="nav navbar-nav nav-stacked nav-pills">
                    <li {% if view_name == 'all_lists' or '/list' in request.path %}
                        class="active">
                        {% else %}
                        >
                        {% endif %}
                        <a href="{% url 'root' %}">Lists</a>
                    </li>
                    <li {% if '/categories' in request.path %}
                        class="active">
                        {% else %}
                        >
                        {% endif %}
                        <a href="{% url 'categories_overview' %}">Categories</a>
                    </li>
                    <li {% if '/tags' in request.path %}
                        class="active">
                        {% else %}
                        >
                        {% endif %}
                        <a href="{% url 'tags_overview' %}">Tags</a>
                    </li>
                    <li {% if '/users' in request.path %}
                        class="active">
                        {% else %}
                        >
                        {% endif %}
                        <a href="{% url 'users' %}">Users</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right auth">
                {% if user.is_authenticated %}
                    <li><a class="mm_logout" href="{% url 'user_logout' %}?next={% url 'root' %}">Logout</a></li>
                    <li><a href="{% url 'user_profile' %}">{{ user.username|truncatechars:"35" }}</a></li>
                {% else %}
                    <li><a class="mm_user" href="{% url 'user_login' %}?next={{next|default:request.path|urlencode}}">Login</a></li>
                    {% if use_internal_auth %}
                        <li><a href="{% url 'user_registration' %}?next={{next|default:request.path|urlencode}}"> Sign Up </a></li>
                    {% endif %}
                {% endif %}
                </ul>

                <form name="search" method="get" action="{% url 'search' %}" class="navbar-form navbar-right" role="search">
                    {% if mlist %}<input type="hidden" name="list" value="{{ mlist.name }}" />{% endif %}
                    <div class="form-group">
                        <div class="input-group">
                            <input name="query" type="text" class="form-control"
                                   placeholder="Search {% if mlist %}this list{% else %}all lists{% endif %}"
                                   {% if query %}value="{{ query }}"{% endif %}
                                   />
                            <a href="#" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></a>
                        </div>
                    </div>

                </form>
            </div> <!--/navbar-collapse -->
        </div> <!-- /container for navbar -->
    </nav>

    {% if flash_messages %}
    <div class="flashmsgs">
    {% for flash_msg in flash_messages %}
        <div class="flashmsg-wrapper">
            <div class="alert alert-{{ flash_msg.type }}">
            {% if flash_msg.type != "success" %}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% endif %}
            {{ flash_msg.msg }}
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}

    <div class="container">

        {% block content %} {% endblock %}

        {% block footer %} {% endblock %}

    </div> <!-- /container for content -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}hyperkitty/libs/jquery/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}hyperkitty/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
    {% if debug %}
    <script src="{{ STATIC_URL }}hyperkitty/libs/less/less-1.6.3.min.js"></script>
    {% endif %}
    {% assets filters="rjsmin", output="gen/hyperkitty.js", "hyperkitty/libs/bootstrap/js/bootstrap.min.js", "hyperkitty/libs/jquery.expander.js", "hyperkitty/libs/d3.v2.min.js", "hyperkitty/libs/jquery.hotkeys.js", "hyperkitty/js/hyperkitty-common.js", "hyperkitty/js/hyperkitty-index.js", "hyperkitty/js/hyperkitty-thread.js", "hyperkitty/js/hyperkitty-userprofile.js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block additionaljs %} {% endblock %}

    </body>
</html>
