<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="ROBOTS" content="INDEX, FOLLOW" />
		<title>{% block title %}{{ app_name|title }}{% endblock %}</title>
		<meta name="author" content="" />
		<meta name="dc.language" content="en" />
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}libs/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}libs/jquery/ui-lightness/jquery-ui-1.10.0.custom.min.css" />
		<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/hyperkitty.css" />
		{% block additional_stylesheets %} {% endblock %}
	</head>
	{% load i18n %}

	<body>
		<div class="container-fluid">
		<header class="row-fluid">
			<div class="navbar navbar-fixed-top">
				  <div class="navbar-inner">
					<div class="container-fluid">

						<ul class="nav auth">
						{% if user.is_authenticated %}
							<li><a class="mm_logout" href="{% url user_logout %}?next={% url root %}">Logout</a></li>
							<li><a href="{% url user_profile %}">{{ user.username }}</a></li>
						{% else %}
							<li><a class="mm_user" href="{% url user_login %}?next={{next|default:request.path|urlencode}}">Login</a></li>
							{% if use_internal_auth %}
							<li><a href="{% url user_registration %}?next={{next|default:request.path|urlencode}}"> Sign Up </a></li>
							{% endif %}
						{% endif %}
						</ul>


						<a class="brand" href="{% url root %}">{{ app_name|title }}</a>

						<ul class="nav">

							<li {% if all_lists %} class="active"{% endif %}>
								<a href="{% url root %}">All lists</a>
							</li>

						{% if mlist %}
							<li id="list_name" class="active">
								<a href="{% url list_overview mlist_fqdn=mlist.name %}">{{mlist.name}}</a>
							</li>
						{% endif %}


						</ul>
					</div>
				  </div>
			</div>
		</header>

		{% if flash_messages %}
		<div class="flashmsg">
			{% for flash_msg in flash_messages %}
			<div class="alert alert-{{ flash_msg.type }}">{{ flash_msg.msg }}</div>
			{% endfor %}
		</div>
		{% endif %}

		{% block content %} {% endblock %}

		{% block footer %} {% endblock %}

		</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}libs/jquery/jquery-1.8.3.min.js"><\/script>')</script>
	<script src="{{ STATIC_URL }}libs/jquery/jquery-ui-1.10.0.custom.min.js"></script>
	<script src="{{ STATIC_URL }}libs/bootstrap/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/hyperkitty.js"></script>
	{% block additionaljs %} {% endblock %}

	</body>
</html>

{# vim: set noet: #}
