<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="ROBOTS" content="INDEX, FOLLOW" />
		<title>{% block title %}{{ app_name|title }}{% endblock %}</title>
		<meta name="author" content="" />
		<meta name="dc.language" content="en" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/normalize.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
		{% block additional_stylesheets %} {% endblock %}
	</head>
	{% load i18n %}

	<body>
		<header>
			<div class="navbar navbar-fixed-top">
				  <div class="navbar-inner">
					<div class="container">

                        <ul class="nav auth">
						{% if user.is_authenticated %}
							 <li><a class="mm_logout" href="{% url user_logout %}">Logout</a></li>
							 <li><a href="{% url user_profile %}">{{ user.username }}</a></li>
						{% else %}
							 <li><a class="mm_user" href="{% url user_login %}">Login</a></li>
							 <li><a href="{% url user_registration %}"> Sign Up </a></li>
						{% endif %}
                        </ul>


						<ul class="nav">

							<li class="root{% if not list_address %} active{% endif %}">
								<a href="{% url root %}">{{ app_name|title }}</a>
							</li>

						{% if list_address %}
							<li id="list_name" class="active">
								<a href="{% url list_overview mlist_fqdn=list_address %}">{{list_address}}</a>
							</li>
						{% endif %}


						</ul>
					</div>
				  </div>
			</div>
		</header>

		<div class="container">
			{% block content %} {% endblock %}
		</div>
		{% block footer %} {% endblock %}

	<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"></script>
	{% block additionaljs %} {% endblock %}

	</body>
</html>
