{% extends "base.html" %}
{% load url from future %}
{% load gravatar %}
{% load hk_generic %}
{% load storm %}


{% block title %}
Error: private list - {{ mlist.display_name|default:mlist.name|escapeemail }} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div class="row-fluid">

    <div class="span2">
    </div>

    <div class="span7">
        <p class="text-error">
            This mailing-list is private, you must be subscribed to view the archives.
        </p>
    </div>

</div>

{% endblock %}
