{% extends "base.html" %}
{% load i18n %}


{% block title %}
{% trans 'Available lists' %} - {{ app_name|title }}
{% endblock %}

{% block content %}

<h1>{% trans 'Available lists' %}</h1>

<table class="table table-bordered table-striped">
	<tbody>
		{% for mlist in lists %}
		<tr>
			<td>{{ mlist }}</td>
			<td><a href="{% url list_overview mlist_fqdn=mlist %}"> Overview </a></td>
			<td><a href="{% url archives mlist_fqdn=mlist %}"> Archives </a></td>
		</tr>
		{% empty %}
		<tr><td>No archived list yet.</td></tr>
		{% endfor %}
	</tbody>
</table>

<img id="logo" alt="HyperKitty" src="{{STATIC_URL}}img/logo.png" />

{% endblock %}

{# vim: set noet: #}
