{% extends "base.html" %}
{% load i18n %}


{% block title %}
{% trans 'Available lists' %} - {{ app_name|title }}
{% endblock %}

{% block content %}

<h1 class="lists">{% trans 'Available lists' %}</h1>

{% if lists %}
<ul class="lists unstyled">
	{% for mlist in lists %}
	<li>
		<a href="{% url list_overview mlist_fqdn=mlist.name %}">
			<p class="list-name">{{ mlist.name }}</p>
			{% if mlist.display_name %}
			<p>{{ mlist.display_name }}</p>
			{% endif %}
			{% if mlist.description %}
			<p>{{ mlist.description }}</p>
			{% endif %}
		</a>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>No archived list yet.</p>
{% endif %}

<img id="logo" alt="HyperKitty" src="{{STATIC_URL}}img/logo.png" />

{% endblock %}

{# vim: set noet: #}
