{% extends "base.html" %}
{% load url from future %}
{% load i18n %}


{% block title %}
{% trans 'Available lists' %} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div class="all-lists">

<h1 class="lists">{% trans 'Available lists' %}</h1>

<div class="row-fluid">
{% for mlist in all_lists %}
<div class="span3">
    <a href="{% url 'list_overview' mlist_fqdn=mlist.name %}" class="mailinglist">
        <p class="list-name">
            {% if mlist.display_name %}
                {{ mlist.display_name }}
            {% else %}
                {{ mlist.name }}
            {% endif %}
        </p>
        <p class="list-address">{{ mlist.name }}</p>
        <p class="list-description"></p>
        <img alt="Loading..." class="ajaxloader" src="{{ STATIC_URL }}hyperkitty/img/ajax-loader.gif" />
    </a>
</div>
{% if forloop.counter|divisibleby:"4" %}
</div>
<div class="row-fluid">
{% endif %}
{% empty %}
<p>No archived list yet.</p>
{% endfor %}
</div>

</div>

<img id="logo" alt="HyperKitty" src="{{STATIC_URL}}hyperkitty/img/logo.png" />

{% endblock %}

{% block additionaljs %}

<script type="text/javascript">
    $(document).ready(function() {
        // Load the properties
        update_list_properties("{% url 'list_properties' %}");
    });
</script>

{% endblock %}
