{% extends "base.html" %}
{% load gravatar %}
{% load hk_generic %}
{% load storm %}

{% block content %}

<div id="month-view">

    <div class="month-header">
        <div class="list-name">{{ mlist.display_name|default:mlist.name|escapeemail }}</div>
        <div class="month-name">{{ month|date:"F Y"|capfirst }}</div>
        <ul class="month-info">
            <li class="participant">
                {{ month_participants }} participants
            </li>
            <li class="discussion">
                {{ month_discussions }} discussions
            </li>
        </ul>
        {% if mlist.display_name %}
        <p class="list-address">
            {{ list_address|escapeemail }}
        </p>
        {% endif %}
    </div>

	{% for thread in threads %}
	<!-- New thread -->
	<div class="thread">
		<div class="notsaved">
			<span class="thread_title"><a name="{{thread.thread_id}}"
				href="{% url thread threadid=thread.thread_id, mlist_fqdn=list_address %}"
				>{{ thread.starting_email.subject|strip_subject:mlist }}</a></span>
			<span class="thread_date">{{thread.date_active|timesince }}</span>
		</div>
		<div class="thread_content">
			{% if thread.category_tag %}
			<div class="inline-block type type_{{thread.category_tag}}">
				<a href="{% url search_tag mlist_fqdn=list_address, tag=thread.category_tag %}"
					>{{thread.category}}</a>
			</div>
			{% endif %}
			{% if thread.category %}
			<div class="inline-block type type_{{thread.category|lower}}">
				<a href="{% url search_tag mlist_fqdn=list_address, tag=thread.category|lower %}"
					>{{thread.category}}</a>
			</div>
			{% endif %}
			<div class="inline-block gravatar">
				{% if thread.starting_email.sender_email %}
				{% gravatar_img_for_email thread.starting_email.sender_email 40 %}
				<br />
				{% endif %}
				{{ thread.starting_email.sender_name|escapeemail }}
			</div>
			<div class="thread_email">
				<span class="expander">{{ thread.starting_email.content }}</span>
			</div>
		</div>
		<div class="thread_info">
			<ul class="tags inline">
				{% if thread.tags|length %}
				<li>
					Tags:
				</li>
				{% for tag in thread.tags %}
				<li>
					<a href="{% url search_tag mlist_fqdn=list_address, tag=tag %}">{{tag}}</a>
				</li>
				{% endfor %}
				{% endif %}
			</ul>
			<ul class="inline-block">
				<li class="participant">
					{{ thread.participants|length }} participants
				</li>
				<li class="discussion">
					{{ thread|length }} comments
				</li>
			</ul>
			{% if use_mockups %}
			<ul class="inline-block" messageid="{{ thread.thread_id }}">
				<li class="likestatus {{ thread.likestatus }}">
					+{{ thread.avglike }}/-{{ thread.avgdislike }}
				</li>
				<li class="voteup">
					<a class="youlike" href="#like">Like</a>
				</li>
				<li class="votedown">
					<a class="youdislike" href="#dislike">Dislike</a>
				</li>
			</ul>
			<a href="{% url thread threadid=thread.thread_id, mlist_fqdn=list_address %}"
			   class="btn">Show discussion</a>
			{% endif %}
		</div>
	</div>
	<!-- End of thread -->
	{% empty %}
		Sorry no emails could be found for this month.
	{% endfor %}

	{% include "paginator.html" %}
</div>

{% include 'threads/month_list.html' %}

{% endblock %}

{% block additionaljs %}
<script src="{{ STATIC_URL }}js/libs/jquery.expander.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery-ui-1.9.1.custom.min.js"></script>
<script>
	$(document).ready(function() {
		$('span.expander').expander({
			userCollapseText : 'View Less',
			expandText : 'View More'
		});

		$("#archives").accordion({navigation: true});
	});
</script>
{% endblock %}
