{% extends "base.html" %}
{% load poll_extras %}
{% load gravatar %}
{% load storm %}

{% block content %}

<div id="recent_activities">
	{% for email in threads %}
	<!-- New thread -->
	<div class="thread">
		<div class="notsaved">
			<span class="thread_title"> <a name="{{email.thread_id}}"
				href="{% url thread threadid=email.thread_id, mlist_fqdn=list_address %}">{{ email.subject|strip_subject:mlist }}</a> </span>
			<span class="thread_date"> {{email.date}}</span>
		</div>
		<div class="thread_content">
			{% if email.category_tag %}
			<div class="inline-block type type_{{email.category_tag}}">
				<a href="{% url search_tag mlist_fqdn=list_address, tag=email.category_tag %}">{{email.category}}</a>
			</div>
			{% endif %}
			{% if email.category %}
			<div class="inline-block type type_{{email.category|lower}}">
				<a href="{% url search_tag mlist_fqdn=list_address, tag=email.category|lower %}">{{email.category}}</a>
			</div>
			{% endif %}
			<div class="inline-block gravatar">
				{% if email.sender_email %}
				{% gravatar_img_for_email email.sender_email 40 %}
				<br />
				{% endif %}
				{{email.sender_name}}
			</div>
			<div class="inline-block thread_email">
				<span class="expander"> {{email.content}} </span>
			</div>
		</div>
		<div class="thread_info">
			<ul class="tags inline">
                {% if email.tags|length %}
				<li>
					Tags:
				</li>
				{% for tag in email.tags %}
				<li>
					<a href="{% url search_tag mlist_fqdn=list_address, tag=tag %}">{{tag}}</a>
				</li>
				{% endfor %}
				{% endif %}
			</ul>
			<ul class="inline-block">
				<li class="participant">
					{{email.participants|length}} participants
				</li>
				<li class="discussion">
					{{email.answers}} comments
				</li>
			</ul>
            {% if settings.USE_MOCKUPS %}
			<ul class="inline-block">
				<li class="like">
					+{{email.avglike}} / - {{email.avgdislike}}
				</li>
			</ul>
            {% endif %}
		</div>
	</div>
	<!-- End of thread -->
	{% empty %}
		Sorry no emails could be found for your search.
	{% endfor %}
	
	{% include "paginator.html" %}
</div>

<div id="archives">
	{% for key, value in archives_length|sort %}
	<h3>{{ key }}</h3>
	<div>
		<ul>
			{% for ar_month in value %}
			<li>
				<a href="{% url archives_with_month year=key, mlist_fqdn=list_address, month=ar_month %}"> {{ ar_month|tomonth }} </a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>

{% endblock %}

{% block additionaljs %}
<script src="{{ STATIC_URL }}jquery.expander.js"></script>
<script>
	$(document).ready(function() {
		$('span.expander').expander({
			userCollapseText : 'View Less',
			expandText : 'View More'
		});
	}); 
</script>
{% endblock %}

