{% extends "base.html" %}
{% load gravatar %}
{% load hk_generic %}
{% load storm %}

{% block content %}

<div id="month-view">

    <header>
        <div class="list-name">{{ mlist.display_name|default:mlist.name|escapeatsign }}</div>
        <div class="month-name">{{ month|date:"F Y"|capfirst }}</div>
        <ul class="month-info">
            <li class="participant">
                {{ month_participants }} participants
            </li>
            <li class="discussion">
                {{ month_discussions }} discussions
            </li>
        </ul>
        {% if mlist.display_name %}
        <p class="list-address">
            <a href="mailto:{{ list_address|escapeatsign }}">{{ list_address|escapeatsign }}</a>
        </p>
        {% endif %}
    </header>

	{% for email in threads %}
	<!-- New thread -->
	<div class="thread">
		<div class="notsaved">
			<span class="thread_title"><a name="{{email.thread_id}}"
				href="{% url thread threadid=email.thread_id, mlist_fqdn=list_address %}">{{ email.subject|strip_subject:mlist }}</a></span>
			<span class="thread_date">{{email.date|timesince }}</span>
		</div>
		<div class="thread_content">
			{% if email.category_tag %}
			<div class="inline-block type type_{{email.category_tag}}">
				<a href="{% url search_tag mlist_fqdn=list_address, tag=email.category_tag %}">{{email.category}}</a>
			</div>
			{% endif %}
			{% if email.category %}
			<div class="inline-block type type_{{email.category|lower}}">
				<a href="{% url search_tag mlist_fqdn=list_address, tag=email.category|lower %}">{{email.category}}</a>
			</div>
			{% endif %}
			<div class="inline-block gravatar">
				{% if email.sender_email %}
				{% gravatar_img_for_email email.sender_email 40 %}
				<br />
				{% endif %}
				{{email.sender_name}}
			</div>
			<div class="thread_email">
				<span class="expander"> {{email.content}} </span>
			</div>
		</div>
		<div class="thread_info">
			<ul class="tags inline">
                {% if email.tags|length %}
				<li>
					Tags:
				</li>
				{% for tag in email.tags %}
				<li>
					<a href="{% url search_tag mlist_fqdn=list_address, tag=tag %}">{{tag}}</a>
				</li>
				{% endfor %}
				{% endif %}
			</ul>
			<ul class="inline-block">
				<li class="participant">
					{{email.participants|length}} participants
				</li>
				<li class="discussion">
					{{email.answers}} comments
				</li>
			</ul>
            {% if use_mockups %}
			<ul class="inline-block" messageid="{{email.message_id_hash}}">
				<li class="likestatus {{email.likestatus}}">
					+{{email.avglike}}/-{{email.avgdislike}}
				</li>
				<li class="voteup">
					<a class="youlike" href="#like">Like</a>
				</li>
				<li class="votedown">
					<a class="youdislike" href="#dislike">Dislike</a>
				</li>
			</ul>
            <a href="{% url thread threadid=email.thread_id, mlist_fqdn=list_address %}"
               class="btn">Show discussion</a>
            {% endif %}
		</div>
	</div>
	<!-- End of thread -->
	{% empty %}
		Sorry no emails could be found for your search.
	{% endfor %}

	{% include "paginator.html" %}
</div>

{% include 'threads/month_list.html' %}

{% endblock %}

{% block additionaljs %}
<script src="{{ STATIC_URL }}jquery.expander.js"></script>
<script>
	$(document).ready(function() {
		$('span.expander').expander({
			userCollapseText : 'View Less',
			expandText : 'View More'
		});
	}); 
</script>
{% endblock %}

