{% extends "base.html" %}

{% load url from future %}
{% load hk_generic %}
{% load gravatar %}
{% load storm %}


{% block title %}
{{ mlist.display_name|default:mlist.name|escapeemail }} - {{ app_name|title }}
{% endblock %}


{% block content %}

<div class="row-fluid">

{% include 'threads/month_list.html' %}

    <section id="overview" class="span10">

    <section id="title">
        <h2>
            {% if mlist.display_name %}
                {{ mlist.display_name }}
            {% else %}
                {{ mlist.name|until:"@" }}
            {% endif %}
        </h2>
        <p id="description">{{ mlist.description|default_if_none:"" }}</p>

        <section id="statistics">

        <div class="chart">
            <img alt="Loading..." class="ajaxloader" src="{{ STATIC_URL }}hyperkitty/img/ajax-loader.gif" />
        </div>
        <p class="caption">Post volume over the past <strong>30</strong> days.</p>

        <p class="thread-new">
            <a href="{% url "message_new" mlist_fqdn=mlist.name %}"
            class="thread-new btn{% if not user.is_authenticated %} disabled" title="You must be logged-in to create a thread.{% endif %}">
            <strong>+</strong> Start a new thread</a>
        </p>

        <h3>Activity Summary</h3>
        <p>The following statistics are from the past <strong>30</strong> days:</p>
        <ul class="list-stats">
            <li><span class="participant">{{ mlist.recent_participants_count }} participants</span></li>
            <li><span class="discussion">{{ mlist.recent_threads_count }} discussions</span></li>
        </ul>

        <section id="discussion-maker" class="widget">
            <h3>Most active posters</h3>
            {% for poster in top_posters %}
            <div class="maker">
            <div class="inline-block maker-id">
                #{{forloop.counter}}
            </div>
            <div class="inline-block gravatar">
                {% gravatar poster.email 40 %}
                <br />
            </div>
            <div class="inline-block">
                <span class="maker-name">{{ poster.name }}</span>
                <span class="score">{{ poster.count }}</span> posts
            </div>
            </div>
            {% endfor %}
        </section>

        </section>
    </section>

    <section id="discussions">

        <section id="most-active" class="widget">
            <h3>Recently active discussions</h3>
            {% for thread in most_active_threads %}
            {% include "threads/summary_thread.html"  %} <!-- cut - with counter=forloop.counter -->
            {% endfor %}
        </section>

        <section id="popular-threads" class="widget">
            <h3>Most popular discussions</h3>
            {% for thread in pop_threads %}
            {% include "threads/summary_thread.html" with counter=forloop.counter %}
            {% empty %}
            <p>No vote has been cast this month (yet).</p>
            {% endfor %}
        </section>

        <section id="top-discussion" class="widget">
                <h3>Most active discussions</h3>
                {% for thread in top_threads %}
                    {% include "threads/summary_thread.html" with counter=forloop.counter %}
                {% endfor %}
            </section>

            <section id="discussion-by-category" class="widget">
                <h3>Discussion by category</h3>
                {% for category, threads in threads_by_category.items %}
                    <h4 class="label{% if forloop.first %} first{% endif %}"
                       style="background-color:{{category.color}}"
                       >{{ category.name|upper }}
                    </h4>
                    <ul>
                    {% for thread in threads %}
                        <li>{% include "threads/summary_thread.html" %}</li>
                    {% endfor %}
                    </ul>
                {% empty %}
                    <p>No category has been set this month (yet).</p>
                {% endfor %}
            </section>

            {% if top_author %}
            <section id="discussion-maker" class="widget">
                <h3>Prominent discussion maker</h3>
                {% for author in top_author %}
                <!-- Start discussion maker -->
                <div class="maker">
                    <div class="inline-block maker-id">
                        #{{forloop.counter}}
                    </div>
                    <div class="inline-block gravatar">
                        {% if author.email %}
                        {% gravatar author.email 40 %}
                        <br />
                        {% endif %}
                    </div>
                    <div class="inline-block">
                        <span class="maker-name">{{author.name}}</span>
                        <br />
                        <span class="score">+{{author.kudos}}</span> kudos
                    </div>
                </div>
                <!-- End discussion maker -->
                {% endfor %}

                <h3>Tag cloud</h3>
            </section>
            {% endif %}

    </section>

    </section>

</div>

{% endblock %}

{% block additionaljs %}

<script type="text/javascript" >
    $(function() {
        ajax_chart(".chart", "{% url 'list_recent_activity' mlist.name %}");
    });
</script>

{% endblock %}
