{% extends "base.html" %}

{% load url from future %}
{% load hk_generic %}
{% load gravatar %}
{% load storm %}


{% block title %}
{{ mlist.display_name|default:mlist.name|escapeemail }} - {{ app_name|title }}
{% endblock %}


{% block content %}

<div class="row">

{% include 'threads/month_list.html' %}

<div class="overview col-tn-12 col-sm-10 col-md-10">
    <div class="row">

    <div class="col-tn-12">
        <section id="title">
            <h2>
                {% if mlist.display_name %}
                    {{ mlist.display_name }}
                {% else %}
                    {{ mlist.name|until:"@" }}
                {% endif %}
            </h2>
            <p id="description">{{ mlist.description|default_if_none:"" }}</p>
        </section> <!-- /title & description -->

        <ul class="nav nav-tabs hidden-sm hidden-md hidden-lg">
            <li class="active">
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#stats">Stats</a>
            </li>
            <li class="dropdown">
                <a href="" id="navbarDiscussionsDrop" class="dropdown-toggle" data-toggle="dropdown">Discussions <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDiscussionsDrop">
                    <li>
                        <a href="#most-recent" tabindex="-1">most recent</a>
                    </li>
                    <li>
                        <a href="#most-popular" tabindex="-1">most popular</a>
                    </li>
                    <li>
                        <a href="#most-active" tabindex="-1">most active</a>
                    </li>
                    <li>
                        <a href="#by-category" tabindex="-1">by category</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                {% include 'threads/month_list.html' with show_dropdown=True %}
            </li>
        </ul>
    </div> <!-- /container, title/description & navbar -->

    <div class="quick-links">
        <a id="home"></a>
        <form name="search" method="get" action="{% url 'search' %}" class="searchbar col-tn-6 hidden-sm hidden-md hidden-lg" role="search">
            {% if mlist %}<input type="hidden" name="list" value="{{ mlist.name }}" />{% endif %}
            <input name="query" type="text" class="form-control"
                   placeholder="Search this list"
                   {% if query %}value="{{ query }}"{% endif %}
                   />
        </form>
        <div class="thread-new col-tn-6 col-sm-4" {% if not user.is_authenticated %}title="You must be logged-in to create a thread."{% endif %}>
            <a href="{% url "message_new" mlist_fqdn=mlist.name %}"
                class="btn btn-default{% if not user.is_authenticated %} disabled{% endif %}">
                <i class="fa fa-plus"></i>
               <span class="hidden-tn hidden-xs">Start a n</span><span class="hidden-sm hidden-md hidden-lg">N</span>ew thread
            </a>
        </div>
        <div class="col-tn-12 col-sm-8">
            <section id="flagged">
                <h3>Discussions You've Flagged</h3>
                {% for thread in flagged_threads|slice:":5" %}
                    {% include "threads/summary_thread.html"  %}
                {% empty %}
                    <p>You have not flagged any discussions (yet).</p>
                {% endfor %}
                {% if flagged_threads|length > 5 %}
                    <div class="bordered more-threads">
                        <a href="">More... {{ flagged_threads|length}}</a>
                    </div>
                {% endif %}
            </section>
            <section id="posted-to">
                <h3>Discussions You've Posted to</h3>
                {% for thread in threads_posted_to|slice:":5" %}
                    {% include "threads/summary_thread.html"  %}
                    {% empty %}
                    <p>You have not posted to this list (yet).</p>
                {% endfor %}
                {% if threads_posted_to|length > 5 %}
                    <div class="bordered more-threads">
                        <a href="">More...</a>
                    </div>
                {% endif %}
            </section>
        </div>
    </div> <!-- /home, search (tiny/xs screens), new thread, personalized threads lists -->

    <div class="discussions col-tn-12 col-sm-8 col-sm-push-4">
        <div class="anchor-link">
            <a id="most-recent"></a>
        </div>
        <section id="most-recent">
            <h3>Recently active discussions</h3>
            {% for thread in most_active_threads|slice:":5" %}
                {% include "threads/summary_thread.html"  %}
            {% endfor %}
            {% if most_active_threads|length > 5 %}
                <div class="bordered more-threads">
                    <a href="">More...</a>
                </div>
            {% endif %}
        </section>

        <div class="anchor-link">
            <a id="most-popular"></a>
        </div>
        <section id="most-popular">
            <h3>Most popular discussions</h3>
            {% for thread in pop_threads|slice:":5" %}
                {% include "threads/summary_thread.html" with counter=forloop.counter %}
            {% empty %}
                <p>No vote has been cast this month (yet).</p>
            {% endfor %}
            {% if pop_threads|length > 5 %}
                <div class="bordered more-threads">
                    <a href="">More...</a>
                </div>
            {% endif %}
        </section>

        <div class="anchor-link">
            <a id="most-active"></a>
        </div>
        <section id="most-active">
            <h3>Most active discussions</h3>
            {% for thread in top_threads|slice:":5" %}
                {% include "threads/summary_thread.html" with counter=forloop.counter %}
            {% endfor %}
            {% if top_threads|length > 5 %}
                <div class="bordered more-threads">
                    <a href="">More...</a>
                </div>
            {% endif %}
        </section>

        <div class="anchor-link">
            <a id="by-category"></a>
        </div>
        <section id="by-category">
            <h3>Discussion by category</h3>
            {% for category, threads in threads_by_category.items %}
                <h4 class="label{% if forloop.first %} first{% endif %}"
                   style="background-color:{{category.color}}"
                   >{{ category.name|upper }}
                </h4>
                <ul>
                {% for thread in threads|slice:":5" %}
                    <li>{% include "threads/summary_thread.html" %}</li>
                {% endfor %}
                {% if threads|length > 5 %}
                    <li>
                        <div class="bordered more-threads">
                            <a href="">More...</a>
                        </div>
                    </li>
            {% endif %}
                </ul>
            {% empty %}
                <p>No category has been set this month (yet).</p>
            {% endfor %}
        </section>
    </div> <!-- /container, for thread lists -->

    <div class="stats col-tn-12 col-sm-4 col-sm-pull-8">
        <div class="anchor-link">
            <a id="stats"></a>
        </div>
        <h3>Activity Summary</h3>
        <div class="chart">
            <p class="caption">Post volume over the past <strong>30</strong> days.</p>
            <img alt="Loading..." class="ajaxloader" src="{{ STATIC_URL }}hyperkitty/img/ajax-loader.gif" />
        </div>

        <p class="duration-text">The following statistics are from the past <strong>30</strong> days:</p>
        <ul class="list-stats list-unstyled">
            <li><i class="icomoon participant"></i>{{ mlist.recent_participants_count }} participants</li>
            <li><i class="icomoon discussion"></i>{{ mlist.recent_threads_count }} discussions</li>
        </ul>

        <div class="row">
        <section id="most-active-poster" class="col-tn-12 col-xs-6">
            <h3>Most active posters</h3>
            {% for poster in top_posters %}
            <div class="maker row">
                <div class="inline-block maker-id col-xs-1">
                    #{{forloop.counter}}
                </div>
                <div class="inline-block gravatar col-xs-4">
                    {% gravatar poster.email 40 %}
                    <br />
                </div>
                <div class="gravatar-details inline-block col-xs-6">
                    <ul class="list-unstyled">
                        <li><span class="maker-name">{{ poster.name }}</span></li>
                        <li><span class="score">{{ poster.count }}</span> posts</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            
        </section>

        {% if top_posters %}
        <section id="discussion-maker" class="col-tn-12 col-xs-6">
            <h3>Prominent posters</h3>
            {% for author in top_posters %}
            <div class="maker row">
                <div class="inline-block maker-id col-xs-1">
                    #{{forloop.counter}}
                </div>
                <div class="inline-block gravatar col-xs-4">
                    {% if author.email %}
                    {% gravatar author.email 40 %}
                    <br />
                    {% endif %}
                </div>
                <div class="gravatar-details inline-block col-xs-6">
                    <ul class="list-unstyled">
                        <li><span class="maker-name">{{ author.name }}</span></li>
                        <li><span class="score">+{{author.kudos}}</span> kudos</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </section>
        {% endif %}
        </div>

    </div> <!-- /container, for list stats -->

    </div> <!-- /row, container for home, overview, & thread lists -->

    <a href="#" class="back-to-top hidden-tn hidden-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-arrow-up"></span></a>

</div> <!-- /overview, main content -->

</div> <!-- /row, outer container -->

{% endblock %}

{% block additionaljs %}

<script type="text/javascript" >
    $(window).resize(function() {
        var chartDivWidth =  $(".stats .chart").width();
        ajax_chart(".stats .chart", "{% url 'list_recent_activity' mlist.name %}", {width: chartDivWidth});

    });
    
    $(function() {
        var chartDivWidth =  $(".stats .chart").width();
        ajax_chart(".stats .chart", "{% url 'list_recent_activity' mlist.name %}", {width: chartDivWidth});

        // Back to top link
        setup_back_to_top_link(220); // set offset to 220 for link to appear
    });
</script>

{% endblock %}
