{% extends "base.html" %}

{% load url from future %}
{% load hk_generic %}
{% load gravatar %}
{% load storm %}


{% block title %}
{{ mlist.display_name|default:mlist.name|escapeemail }} - {{ app_name|title }}
{% endblock %}


{% block content %}

<div class="row-fluid">

{% include 'threads/month_list.html' %}

    <section id="overview" class="span10">

        <section id="graph">
            <h2>Activities on the list over the last 30 days</h2>
        <ul class="list-stats inline">
            <li><span class="participant">{{ num_participants }} participants</span></li>
            <li><span class="discussion">{{ num_threads }} discussions</span></li>
        </ul>

            <div id="fig" />
        </section>

        <p class="thread-new">
            <a href="{% url "message_new" mlist_fqdn=mlist.name %}"
               class="thread-new btn{% if not user.is_authenticated %} disabled" title="You must be logged-in to create a thread.{% endif %}"
               ><strong>+</strong> Start a new thread</a>
        </p>

        <div class="row-fluid">
            <div class="span6"> <!-- Column 1 -->

            <section id="most-active" class="widget">
                <h3>Recently active discussions</h3>
                {% for thread in most_active_threads %}
                    {% include "threads/summary_thread.html" with counter=forloop.counter %}
                {% endfor %}
            </section>

            <section id="popular-threads" class="widget">
                <h3>Most popular discussions</h3>
                {% for thread in pop_threads %}
                    {% include "threads/summary_thread.html" with counter=forloop.counter %}
                {% empty %}
                    <p>No vote has been cast this month (yet).</p>
                {% endfor %}
            </section>

            <section id="discussion-maker" class="widget">
                <h3>Most active posters</h3>
                {% for poster in top_posters %}
                <div class="maker">
                    <div class="inline-block maker-id">
                        #{{forloop.counter}}
                    </div>
                    <div class="inline-block gravatar">
                        {% gravatar poster.email 40 %}
                        <br />
                    </div>
                    <div class="inline-block">
                        <span class="maker-name">{{ poster.name }}</span>
                        <br />
                        <span class="score">{{ poster.count }}</span> posts
                    </div>
                </div>
                {% endfor %}
            </section>

            </div>
            <div class="span6"> <!-- Column 2 -->

            <section id="top-discussion" class="widget">
                <h3>Most active discussions</h3>
                {% for thread in top_threads %}
                    {% include "threads/summary_thread.html" with counter=forloop.counter %}
                {% endfor %}
            </section>

            <section id="discussion-by-category" class="widget">
                <h3>Discussion by category</h3>
                {% for category, threads in threads_by_category.items %}
                    <h4 class="label{% if forloop.first %} first{% endif %}"
                       style="background-color:{{category.color}}"
                       >{{ category.name|upper }}
                    </h4>
                    <ul>
                    {% for thread in threads %}
                        <li>{% include "threads/summary_thread.html" %}</li>
                    {% endfor %}
                    </ul>
                {% empty %}
                    <p>No category has been set this month (yet).</p>
                {% endfor %}
            </section>

            {% if top_author %}
            <section id="discussion-maker" class="widget">
                <h3>Prominent discussion maker</h3>
                {% for author in top_author %}
                <!-- Start discussion maker -->
                <div class="maker">
                    <div class="inline-block maker-id">
                        #{{forloop.counter}}
                    </div>
                    <div class="inline-block gravatar">
                        {% if author.email %}
                        {% gravatar author.email 40 %}
                        <br />
                        {% endif %}
                    </div>
                    <div class="inline-block">
                        <span class="maker-name">{{author.name}}</span>
                        <br />
                        <span class="score">+{{author.kudos}}</span> kudos
                    </div>
                </div>
                <!-- End discussion maker -->
                {% endfor %}

                <h3>Tag cloud</h3>
            </section>
            {% endif %}

            </div>
        </div>

    </section>

</div>

{% endblock %}

{% block additionaljs %}

<script type="text/javascript" >
    $(function() {
        activity_graph(
            "#fig",
            ["{{days|join:'","'}}"],
            {{evolution}},
            "{{ archives_baseurl }}"
        )
    });
</script>

{% endblock %}
