{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
{% trans 'Register' %} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div id="register">

<h2>Register</h2>

<form action="{{ request.path }}?next={{ next|urlencode }}" method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
        </div>
    </div>
</form>

</div>

{% endblock %}
