{% extends "base.html" %}

{% load url from future %}
{% load gravatar %}
{% load hk_generic %}
{% load storm %}


{% block title %}
{{ subject }} - {{ mlist.display_name|default:mlist.name|escapeemail }} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div class="row-fluid">

{% include 'threads/month_list.html' %}

    <div class="span10">

        <div class="thread-header">
            {% for thread in neighbors %}
                {% if thread %}
                <a class="thread-{% ifequal forloop.counter 1 %}older{% else %}newer{% endifequal %}"
                   href="{% url 'thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}"
                   title="{{ thread.subject|strip_subject:mlist|escape }}">{{ thread.subject|strip_subject:mlist|truncatesmart:"22" }}</a>
                {% endif %}
            {% endfor %}
            <div class="thread-category">
                {% include 'threads/category.html' %}
            </div>
            <h1>{{ subject }}</h1>
        </div>

        <div class="row-fluid">

            <div class="span9">
                <!-- main section, the email thread -->
                <section id="thread-content">

                    <!-- Start first email -->
                    {% include 'messages/message.html' with email=first_mail unfolded='True' %}
                    <!-- End first email -->

                    <p class="sort-mode">
                        {% if sort_mode == "date" %}
                        <a href="{% url 'thread' threadid=threadid mlist_fqdn=mlist.name %}?sort=thread"
                            >Show replies by thread</a>
                        {% else %}
                        <a href="{% url 'thread' threadid=threadid mlist_fqdn=mlist.name %}?sort=date"
                            >Show replies by date</a>
                        {% endif %}
                    </p>

                    <div class="replies">
                    {% if is_bot %}
                        {% include 'ajax/replies.html' %}
                    {% else %}
                        <img alt="Loading..." class="ajaxloader" src="{{ STATIC_URL }}hyperkitty/img/ajax-loader.gif" />
                    {% endif %}
                    </div>

                </section>
            </div>

            <div class="span3">
                {% include 'threads/right_col.html' %}
            </div>

        </div>

    </div>

</div>

<!-- end of content -->
{% endblock %}

{% block additionaljs %}

<script type="text/javascript">
    $(document).ready(function() {
        setup_category();
        setup_tags();
        setup_favorites();
        setup_emails_list();
        // Hide quotes by default in the thread view
        fold_quotes();
        // Load the replies
        update_thread_replies("{% url 'thread_replies' threadid=threadid mlist_fqdn=mlist.name %}?sort={{sort_mode}}&last_view={{last_view|date:'U'}}");
        setup_unreadnavbar("#unreadnavbar");
    });
</script>

{% endblock %}
