{% extends "base.html" %}
{% load url from future %}
{% load gravatar %}
{% load hk_generic %}


{% block title %}
{{ list_title }} - {{ mlist.display_name|default:mlist.name|escapeemail }} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div class="row">

{% include 'threads/month_list.html' %}

    <div id="thread-list" class="col-sm-10">

        <div class="thread-list-header row">
            <h1 class="col-tn-12">
                {% if mlist.display_name %}
                    {{ mlist.display_name }}
                {% else %}
                    {{ mlist.name|until:"@" }}
                {% endif %}
                <small>{{ list_title }}</small>
            </h1>
            <span class="list-address col-tn-12">{{ mlist.name }}</span>
            <ul class="list-unstyled list-stats thread-list-info col-tn-6">
                <li>
                    <i class="icomoon participant"></i>
                    {{ participants }} participants
                </li>
                <li>
                    <i class="icomoon discussion"></i>
                    {{ threads.paginator.count }} discussions
                </li>
            </ul>
            <div class="thread-new col-tn-6" {% if not user.is_authenticated %}title="You must be logged-in to create a thread."{% endif %}>
                <a href="{% url "message_new" mlist_fqdn=mlist.name %}"
                    class="btn btn-default {% if not user.is_authenticated %} disabled{% endif %}">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-tn hidden-xs">Start a n</span><span class="hidden-sm hidden-md hidden-lg">N</span>ew thread
                    </a>
            </div>
        </div>

        {% for thread in threads %}
            {% include "threads/summary_thread_large.html" %}
        {% empty %}
            <p>Sorry no email threads could be found {{ no_results_text }}.</p>
        {% endfor %}

        {% include "paginator.html" with pager=threads %}

    </div>

</div>

{% endblock %}

{% block additionaljs %}
<script>
$(document).ready(function() {
    $('span.expander').expander({
        slicePoint: 500,
        userCollapseText : '\n[View Less]',
        expandText : '\n[View More]',
        beforeExpand: function() {
            $(this).removeClass("collapsed");
            $(this).addClass("expanded");
        },
        onCollapse: function() {
            $(this).removeClass("expanded");
            $(this).addClass("collapsed");
        }
    });
    setup_category();
});
</script>
{% endblock %}
