{% extends "base.html" %}

{% load gravatar %}
{% load hk_generic %}
{% load storm %}

{% block content %}

	<div class="thread-header">
		{% for thread in neighbors %}
			{% if thread %}
			<a class="thread-{% ifequal forloop.counter 1 %}older{% else %}newer{% endifequal %}"
			   href="{% url thread threadid=thread.thread_id, mlist_fqdn=list_address %}"
			   >{{ thread.subject|strip_subject:mlist|truncatesmart:"22" }}</a>
			{% endif %}
		{% endfor %}
		<h1>{{ subject }}</h1>
	</div>

	{% include 'threads/right_col.html' %}

	<!-- main section, the email thread -->
	<section id="thread_content">

		<!-- Start first email -->
		{% include 'messages/first_email.html' %}
		<!-- End first email -->

		<p class="sort-mode">
			{% if sort_mode == "date" %}
			<a href="{% url thread threadid=threadid, mlist_fqdn=list_address %}?sort=thread"
				>Show replies by thread</a>
			{% else %}
			<a href="{% url thread threadid=threadid, mlist_fqdn=list_address %}?sort=date"
				>Show replies by date</a>
			{% endif %}
		</p>

		{% for email in replies %}
		<div class="{% cycle 'even' 'odd' %}"
			{% if email.level %}style="margin-left:{{ email.level|multiply:"2" }}em;"{% endif %}>
			<!-- Start email -->
			{% include 'messages/message.html' %}
			<!-- End of email -->
		</div>
		{% endfor %}

	</section>

<!-- end of content -->
{% endblock %}

{% block additionaljs %}

<script src="{{ STATIC_URL }}js/libs/jquery.expander.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		// hide quotes by default in the thread view
		$('div.email_body .quoted-text').hide();
	});
</script>

{% endblock %}

{# vim: set noet: #}
