{% extends "base.html" %}
{% load i18n %}
{% load hk_generic %}

{% block content %}
    <h1>User Profile <span>- {{ user }}</span></h1>

    <table class="table table-bordered table-striped mm_userData">
    	<tbody>
    		<tr>
    			<th>{% trans 'User name' %}</th>
    			<td>{{ user.username}}</td>
    		</tr>
    		<tr>
    			<th>{% trans 'Firstname' %}</th>
    			<td>{{ user.first_name }}</td>
    		</tr>
    		<tr>
    			<th>{% trans 'Lastname' %}</th>
    			<td>{{ user.last_name }}</td>
    		</tr>
		<tr>
    			<th>{% trans 'Email' %}</th>
    			<td>{{ user.email }}</td>
    		</tr>
		<tr>
    			<th>{% trans 'Karma' %}</th>
    			<td>{{ user_profile.karma }}</td>
    		</tr>
		<tr>
    			<th>{% trans 'Date Joined' %}</th>
    			<td>{{ user.date_joined }}</td>
    		</tr>
    	</tbody>
    </table>

    {% if use_mockups %}

    <h3> Up Votes : </h3>
	<ul>
	{% for vote in votes_up %}
		<li>
		{% if vote.message.content|trimString|length > 0 %}
			<a href="{% url message_index mlist_fqdn=vote.list_address, hashid=vote.messageid %}">{{ vote.message.content|truncatechars:20 }}</a>
		{% else %}
			<a href="{% url message_index mlist_fqdn=vote.list_address, hashid=vote.messageid %}">Message is empty</a>
		{% endif %}
		</li>
	{% empty %}
		<p>No up vote yet.</p>
	{% endfor %}
	</ul>

	<h3> Down Votes : </h3>
	<ul>
	{% for vote in votes_down %}
		<li>
		{% if vote.message.content|trimString|length > 0 %}
			<a href="{% url message_index mlist_fqdn=vote.list_address, hashid=vote.messageid %}">{{ vote.message.content|truncatechars:20 }}</a>
		{% else %}
			<a href="{% url message_index mlist_fqdn=vote.list_address, hashid=vote.messageid %}">Message is empty</a>
		{% endif %}
		</li>
	{% empty %}
		<p>No down vote yet.</p>
	{% endfor %}
	</ul>

    {% endif %}


{% endblock %}
