include AUTHORS.txt COPYING.txt pylintrc distribute_setup.py requirements.txt hyperkitty.spec
# http://bruno.im/2010/may/05/packaging-django-reusable-app/
recursive-include hyperkitty *.py *.html *.js
graft hyperkitty/static
graft hyperkitty/fixtures
include doc/conf.py doc/Makefile doc/*.rst
