include AUTHORS.txt COPYING.txt ez_setup.py requirements.txt hyperkitty.spec
include tox.ini *rc
# http://bruno.im/2010/may/05/packaging-django-reusable-app/
recursive-include hyperkitty *.py *.html *.js *.txt
graft hyperkitty/static
graft hyperkitty/fixtures
graft hyperkitty/tests/testdata
include doc/conf.py doc/Makefile doc/*.rst
