Django>=1.5
django-gravatar2
django-social-auth>=0.7.1
djangorestframework>=2.2.0
mailman>=3.0.0b2
kittystore
South
django-crispy-forms
django-assets
rjsmin
cssmin
robot-detection
pytz
django-paintstore
django-browserid>=0.10.1
mailmanclient
