Django>=1.4
django-gravatar2
django-social-auth>=0.7.1
djangorestframework>=2.2.0
mailman>=3.0.0b2
kittystore
South
django-crispy-forms
django-assets
rjsmin
cssmin
robot-detection
pytz
django-paintstore
# mailmanclient is not yet in PyPI
bzr+lp:mailman.client#egg=mailmanclient
