Django>=1.6
django-gravatar2
django-social-auth>=0.7.1
djangorestframework>=3.0.0
South
django-crispy-forms
rjsmin
cssmin
robot-detection
pytz
django-paintstore
django-compressor
django-browserid>=0.10.1
mailmanclient
beautifulsoup4
# python-dateutil 2.0+ is for Python 3
python-dateutil < 2.0
networkx
enum34
django-haystack
django-extensions
