{% load url from future %}
{% load storm %}
{% load gravatar %}
{% load hk_generic %}
{% load tz %}

{% is_message_new email.date as is_new %}
<div class="email{% if unfolded %} email-first{% endif %}{% if is_new %} unread{% endif %}">

    <div class="email-header" id="{{email.message_id_hash}}">
        <div class="email-date inline-block pull-right">
            {% ifchanged %}
            <span class="date">
                {{email|get_date|date:"l, j F"}}
                {% if unfolded %}
                {{email|get_date|date:"Y"}}
                {% endif %}
            </span>
            {% endifchanged %}
            {% if unfolded %}<br />{% endif %}
            <span class="time" title="Sender's time: {% localtime off %}{{email|get_date|date:"l, j F H:i:s e"}}{% endlocaltime %}">{{email|get_date|date:"H:i:s"}}</span>
        </div>
        {% if is_new %}
            <i class="unread icon-eye-close" title="Unread"></i>
        {% endif %}
        <div class="gravatar{% if use_mockups %} pull-left{% endif %}">
            {% gravatar email.sender_email 40 %}
        </div>
        <div class="email-author inline-block">
            <span class="name">
                {% if email.user_id %}
                <a href="{% url 'public_user_profile' user_id=email.user_id %}"
                   title="See {{ email.sender_name|escapeemail|escape }}'s profile"
                   >{{email.sender_name|default:"(no name)"|escapeemail}}</a>
                {% else %}
                   {{email.sender_name|default:"(no name)"|escapeemail}}
                {% endif %}
            </span>
            <br />
            <span class="messagelink">
                (<a href="{% url 'message_index' mlist_fqdn=mlist.name message_id_hash=email.message_id_hash %}"
                    title="{{ email.subject }}">permalink</a>)
            </span>
            {% if use_mockups %}
            <span class="rank">
                Rank 8
            </span>
            {% endif %}
        </div>
    </div>

    <div class="email-body"
     >{{ email.content|snip_quoted|wordwrap:90|urlizetrunc:76|escapeemail }}</div>

    {% if unfolded and email.attachments|count %}
    <div class="attachments">
        <p class="attachments">Attachments:</p>
        <ul class="attachments-list">
        {% for attachment in email.attachments %}
            <li><a href="{% url 'message_attachment' mlist_fqdn=mlist.name message_id_hash=email.message_id_hash counter=attachment.counter filename=attachment.name %}">{{attachment.name}}</a>
                ({{attachment.content_type}} &mdash; {{attachment.size|filesizeformat}})
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="email-info">
        {% include "messages/like_form.html" with message_id_hash=email.message_id_hash object=email %}
        {% if not unfolded and email.attachments|count %}
        <div class="attachments">
            <a class="attachments" href="#attachments">{{ email.attachments|count }} attachment(s)</a>
            <ul class="attachments-list">
            {% for attachment in email.attachments %}
                <li><a href="{% url 'message_attachment' mlist_fqdn=mlist.name message_id_hash=email.message_id_hash counter=attachment.counter filename=attachment.name %}">{{attachment.name}}</a>
                    ({{attachment.content_type}} &mdash; {{attachment.size|filesizeformat}})
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% include "messages/reply_form.html" with mlist_fqdn=mlist.name message_id_hash=email.message_id_hash %}
    </div>

</div>
