{% load storm %}
{% load gravatar %}
{% load hk_generic %}

<div class="email_header">
	<div class="email_date inline-block pull-right">
		{% ifchanged %}
		<span class="date">
			{{email|viewer_date|date:"l, j F"}}
			{% if unfolded %}
			{{email|viewer_date|date:"Y"}}
			{% endif %}
		</span>
		{% endifchanged %}
		{% if unfolded %}<br />{% endif %}
		<span class="time" title="Sender's time: {{email|sender_date|date:"l, j F H:i:s"}}">{{email|viewer_date|date:"H:i:s"}}</span>
	</div>
    <div class="gravatar{% if use_mockups %} pull-left{% endif %}">
        {% gravatar_img_for_email email.email 40 %}
    </div>
	<div class="email_author inline-block">
		<span class="name"><a href="{% url message_index mlist_fqdn=list_address, hashid=email.message_id_hash %}">{{email.sender_name|escapeemail}}</a></span>
        {% if use_mockups %}
		<br />
		<span class="rank">
            Rank 8
		</span>
        {% endif %}
	</div>
</div>

{% if unfolded %}
<div class="first_email_body">
{% else %}
<div class="email_body">
{% endif %}
{{email.content|urlizetrunc:76|escapeemail}}
</div>

{% if unfolded and email.attachments|count %}
<p class="attachments">Attachments:</p>
<ul class="attachments-list">
{% for attachment in email.attachments %}
    <li><a href="{% url message_attachment mlist_fqdn=list_address, hashid=email.message_id_hash, counter=attachment.counter, filename=attachment.name %}">{{attachment.name}}</a>
        ({{attachment.content_type}} &mdash; {{attachment.size|filesizeformat}})
    </li>
{% endfor %}
</ul>
{% endif %}

<ul class="email_info inline" messageid="{{email.message_id_hash}}">
{% if use_mockups %}
	<li class="likestatus {{email.likestatus}}">
		+{{email.likes}}/-{{email.dislikes}}
	</li>
	<li class="voteup">
		<a class="youlike" href="#like">Like</a>
	</li>
	<li class="votedown">
		<a class="youdislike" href="#dislike">Dislike</a>
	</li>
{% endif %}
{% if not unfolded and email.attachments|count %}
    <li class="attachments">
        <a class="attachments" href="#attachments">{{ email.attachments|count }} attachment(s)</a>
        <ul class="attachments-list">
        {% for attachment in email.attachments %}
            <li><a href="{% url message_attachment mlist_fqdn=list_address, hashid=email.message_id_hash, counter=attachment.counter, filename=attachment.name %}">{{attachment.name}}</a>
                ({{attachment.content_type}} &mdash; {{attachment.size|filesizeformat}})
            </li>
        {% endfor %}
        </ul>
    </li>
{% endif %}
</ul>


