	<a class="reply{% if not user.is_authenticated %} disabled" title="You must be logged-in to reply.{% endif %}" href="#">Reply</a>
	<div class="reply-form dropdown">
		<p class="reply-tools">[<a href="#" class="quote">Quote</a>]</p>
		<form method="post"
			  action="{% url message_reply mlist_fqdn=mlist_fqdn, message_id_hash=message_id_hash %}">
			{% csrf_token %}
			{{ reply_form.as_p }}
			<p class="buttons">
				<button type="submit" class="submit btn btn-primary">Send</button>
				or <a class="cancel" href="#">cancel</a>
			</p>
		</form>
	</div>

{# vim: set noet: #}
