{% load url from future %}

    <a class="reply{% if not user.is_authenticated %} disabled" title="You must be logged-in to reply.{% endif %}" href="#">Reply</a>
    <div class="reply-form dropdown">
        <form method="post" enctype="multipart/form-data"
              action="{% url 'message_reply' mlist_fqdn=mlist_fqdn message_id_hash=message_id_hash %}">
            {% csrf_token %}
            <p class="reply-tools">
                <a class="btn btn-mini quote" href="#">Quote</a>
                <label>{{ reply_form.newthread }} Create a new thread</label>
            </p>
            {{ reply_form.non_field_errors }}
            {% for field in reply_form %}
                {% if field.html_name != "newthread" %}
                    <p>{{ field }} {{ field.errors}}</p>
                {% endif %}
            {% endfor %}
            {# { reply_form.as_p } #}
            <p class="buttons">
                <button type="submit" class="submit btn btn-primary">Send</button>
                or <a class="cancel" href="#">cancel</a>
            </p>
        </form>
    </div>
