{% extends "hyperkitty/base.html" %}
{% load gravatar %}
{% load hk_generic %}


{% block title %}
{{ message.subject }} - {{ mlist.display_name|default:mlist.name|escapeemail }} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div class="row">

{% include 'hyperkitty/threads/month_list.html' %}

    <div class="col-md-7">

        <div class="message-header">
            <a class="thread-back"
                href="{% url 'hk_thread' threadid=message.thread_id mlist_fqdn=mlist.name %}#{{message.message_id_hash}}">
            </a> {# the background image will be a "back to thread" button #}
            <h1>{{ message.subject }}</h1>
        </div>

        <section id="thread-content">
            {% include 'hyperkitty/messages/message.html' with email=message unfolded='True' %}
        </section>

    </div>

</div>

{% endblock %}

{% block additionaljs %}

<script type="text/javascript">
    $(document).ready(function() {
        setup_emails_list();
    });
</script>

{% endblock %}
