{% extends "hyperkitty/base.html" %}
{% load i18n %}
{% load gravatar %}
{% load hk_generic %}
{% load crispy_forms_tags %}


{% block title %}
{% trans "Create a new thread" %} - {{ mlist.display_name|default:mlist.name|escapeemail }} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div class="row">

{% include 'hyperkitty/threads/month_list.html' %}

    <div class="col-sm-10">

        <div class="message-header">
            <h1>
                {% trans "Create a new thread" %}
                <small>{% trans 'in' %} {{ mlist.display_name|default:mlist.name|escapeemail }}</small>
            </h1>
        </div>

        {% if failure %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ failure }}
        </div>
        {% endif %}

        <div class="new-thread-form">
            <form method="post" enctype="multipart/form-data"
                  action="{% url 'hk_message_new' mlist_fqdn=mlist.name %}">
                {% csrf_token %}
                {{ post_form|crispy }}
                <p class="buttons">
                    <button type="submit" class="submit btn btn-primary">{% trans "Send" %}</button>
                    {% trans "or" %} <a class="cancel" href="{% url 'hk_archives_latest' mlist_fqdn=mlist.name %}">{% trans "cancel" %}</a>
                </p>
            </form>
        </div>

    </div>

</div>

{% endblock %}
