<ul class="list_nav">
	{% if list_address %}
	<li id="list_name">
		<a href="/list/{{list_address}}">{{list_name}}</a>
	</li>
	<li id="page_date">
		{{month}}
	</li>
	{% endif %}

{% if month_participants and month_discussions %}
	<li class="participant">
		{{month_participants}} participants
	</li>
	<li class="discussion">
		{{month_discussions}} discussions
	</li>
	<li class="saved">
		1 saved
	</li>
{% endif %}

{% if list_address %}
<li><a href="mailto:{{list_address}}">{{list_address}}</a></li>

<li><a href="/"> All lists </a></li>

{% endif %}

{% if search_form %}
<li>
<div id="searchbox">
	<form action="/search/{{list_address}}" method="get">
		{{ search_form }}
	</form>
</div>
</li>
{% endif %}

</ul>
