// floating navbar's height
@navbarHeight: 75px;
@navbarHoverColor: #e7e7e7;

body {
    position: relative;
    padding-top: @navbarHeight;
    background-color: white;
}

// Sometimes jQuery UI overwrites the Bootstrap values
a {
    color: @linkColor;
}

nav {
    background-color: @navbarColor;
}

footer {
    background-color: @navbarColor;
    border-top: 1px solid @navbar-default-border;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    p {
        margin: 0;
    }
}

//=== NAVBAR
nav {
    padding-top: 5px;
    padding-bottom: 5px;

    // general links
    ul.nav-pills li:first-child {
        padding-top: 2px;
    }   

    // login/logout
    ul.auth a:last-child {
        padding-right: 0; /* flush with right margin */
    }

    // override bootstrap color for search button
    .input-group-addon {
        background: inherit;
    }

    // postorius link
    .postorius {
        padding: 10px 20px;
        margin: 0;
        float: right;
    }
}

// hack: forces search box to appear on one line in navbar in larger screens
// hack: we need extra .input-group to force search box to appear on one line in smaller screens
// note: any pixel-based width will allow hack to work
@media (min-width: 768px) {
    nav .input-group {
        width: 200px;
    }
}
