/*
 * Login form
 */

#login,
#register {
    text-align: left;
    width: 60em;
    margin: 0 auto;
}
#login h2,
#register h2 {
    margin: 4em 0 1em 0;
    text-align: center;
    font-size: 160%;
}
#login .social-login {
    text-align: center;
}
#login .social-login li {
	margin: 0 20px;
}
#login .social-login li.browserid {
    display: block;
}
#login a#browserid.disabled {
    cursor: wait;
}
#login form.openid {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 10px;
}


/*
 * User profile page
 */

.user-profile {
    padding: 0 2em;
}

.user-profile h1 {
    margin-bottom: 1em;
}

.user-profile h3 {
    margin-top: 2em;
}

.user-profile form {
    float: left;
}

.user-profile div.gravatar {
    /*float: right;*/
    float: left;
    width: auto;
    font-size: 95%;
    margin-left: 4em;
}
.user-profile img.gravatar {
    width: auto;
}
.user-profile .gravatar p {
    text-align: center;
}


table.user-data {
    width: auto;
}
table.user-data th label {
    font-weight: bold;
}
table.user-data th,
table.user-data td {
    vertical-align: middle;
}
table.user-data label,
table.user-data input {
    margin-bottom: 0;
}
table.user-data td {
    color: #555555;
}


.user-profile .ajaxloader {
    margin-top: 0;
    margin-left: 0;
    position: absolute;
}


.user-profile table.subscriptions {
    width: auto;
}
.user-public-profile table.user-data {
    float: left;
}
