body {
	position: relative;
	padding-top: 70px;
	background-color: white;
}

ul.nav.auth {
    float: right;
    margin: 0;
}

#search-form {
    float: right;
    margin-right: 4em;
    padding: 5px 0;
}
#search-form form {
    margin-bottom: 0;
}

.navbar .breadcrumb {
    padding: 10px 30px;
    margin: 0;
    float: left;
    background-color: transparent;
}
.navbar .breadcrumb > li > a {
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.navbar .breadcrumb > li > a:focus,
.navbar .breadcrumb > li > a:hover {
    color: #333333;
    text-decoration: none;
    background-color: transparent;
}
.navbar .breadcrumb > li > .divider {
    color: #999999;
}


/* Sometimes jQuery UI overwrites the Bootstrap values */

a, .ui-widget-content a {
  color: #0088cc;
}
