/*
 * Classes common to two or more pages, but not all (those go to base.css)
 */


.right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.inline li, .inline-block li {
    display: inline-block;
    list-style-type: none;
}


/* from Bootstrap's alert class */
.errorlist {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #eed3d7;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
}


/* Flash messages */
.flashmsgs {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.flashmsgs .flashmsg-wrapper {
    display: block;
}
.flashmsgs .alert {
    display: inline-block;
}


/* Forms (replies, registration, ...) */
form .buttons .submit {
    /* leave some space before the cancel button/link */
    margin-right: 1em;
}


/* Favorites */
.saved, .notsaved {
    padding-left: 20px;
    background: no-repeat scroll left center;
}
.saved {
    background-image: url("../img/saved.png");
}
.notsaved {
    background-image: url("../img/notsaved.png");
}


/* Gravatar */
.gravatar {
    vertical-align: top;
    width:40px;
    font-size: 70%;
}
.gravatar img {
    width: 40px;
}


/* On the thread list, overview page and list directory */
ul.list-stats {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.participant, .discussion {
    padding-left: 20px;
    background: no-repeat scroll left center;
}
.participant {
    background-image: url("../img/participant.png");
    margin-right: 1em;
}
.discussion {
    background-image: url("../img/discussion.png");
    margin-right: 2em;
}
i.unread {
    vertical-align: baseline;
}


/*
 * Like / dislike
 */

form.likeform {
    display: inline;
    margin: 0;
    margin-right: 1em;
    padding: 0;
}
.likestatus {
    padding-left: 20px;
    margin-right: 1.5em;
    font-weight: bold;
}

.neutral {
    background: url("../img/neutral.png") no-repeat scroll left;
}
.like {
    background: url("../img/like.png") no-repeat scroll left;
}
.likealot {
    background: url("../img/likealot.png") no-repeat scroll left;
}

.youlike,
.youdislike {
    padding-left: 15px;
    margin-left: 0.5em;
}
.youlike {
    background: url("../img/youlike.png") no-repeat scroll left;
}
.youdislike {
    background: url("../img/youdislike.png") no-repeat scroll left;
}
.youlike.disabled {
  background: url("../img/youlike-disabled.png") no-repeat scroll left;
  color: #999;
}
.youdislike.disabled {
  background: url("../img/youdislike-disabled.png") no-repeat scroll left;
  color: #999;
}



/* Months list */

#months-list h3 {
    margin-top: 1em;
    font-size: 120%;
}
#months-list {
    padding-top: 1em;
}
#months-list li.current {
    font-weight: bold;
}



/*
 * Attachments
 */

p.attachments {
    margin-bottom: 0;
    font-weight: bold;
}
a.attachments {
    padding-left: 18px;
    background: url("../img/mail-attachment.png") no-repeat scroll left;
}
.email-info div.attachments {
    display: inline;
    padding: 0 1em;
}
.email-info .attachments ul.attachments-list {
    display: none;
    position: absolute;
    margin-left: 0;
    padding-right: 0.5em;
    border: 1px solid #aaa;
    border-top: none;
    z-index: 1;
}
.even .email-info .attachments ul.attachments-list {
    background-color: rgb(246, 246, 246);
}
.odd .email-info .attachments ul.attachments-list {
    background-color: rgb(238, 238, 238);
}
.email-info .attachments ul.attachments-list li {
    list-style-position: inside;
    padding-left: 0.5em;
}



/*
 * Replies
 */

a.reply {
  background: url("../img/reply.png") no-repeat left center;
  padding-left: 20px;
  margin-left: 1em;
}
a.reply.disabled {
  background: url("../img/reply-disabled.png") no-repeat left center;
  color: #999;
}
.reply-form {
    display: none;
    padding-top: 1em;
}
.reply-form p.reply-tools {
    margin-bottom: 0.7em;
}
.reply-form p.reply-tools label {
    display: inline;
    font-size: 90%;
    margin-left: 1.5em;
}
.reply-form p.reply-tools input {
    margin-top: 0;
    margin-right: 0.1em;
}
.reply-form p {
    margin: 0;
}
.reply-form #id_subject,
.reply-form textarea {
    width: 95%;
}
.reply-form p.buttons {
    margin-top: 1em;
}
.reply-result {
    text-align: center;
}
.reply-result .alert {
    display: inline-block;
}
.reply-result .alert-success {
    margin-bottom: 0;
}
.reply-result .alert-error {
    white-space: pre;
    text-align: left;
}



/*
 * New thread
 */

a.thread-new strong {
    font-size: 150%;
    font-weight: bold;
    margin-right: 0.2em;
}

.new-thread-form {
    margin-left: 2em;
}
.new-thread-form #id_subject,
.new-thread-form textarea {
    width: 90%;
}
.new-thread-form p.buttons {
    margin-top: 2em;
}


/*
 * Attachments in replies or new threads
 */

.attach-files-template {
    display: none;
}
.attach-files-add {
    display: none;
}
.attach-files span {
    display: block;
}


/* AJAX */
.ajaxloader {
    display: block;
    margin: 1em auto;
}
.ui-autocomplete-loading {
    background: white url('../img/ajax-loader.gif') right center no-repeat;
}


/*
 * Categories
 */

.thread-category {
    padding: 0;
}
.thread-category a.label.disabled {
    cursor: default;
}
.thread-category form {
    margin: 0;
    display: none;
}
.thread-category form p {
    margin: 0;
}
.thread-category form select {
    font-size: 90%;
    width: 12em;
    margin: 0;
}
.thread-category form .errorlist {
    display: none; /* Displayed manually */
}

h1 {
    margin-top: 0px;
    font-size: 28px !important; /* override bootstrap */
    line-height: 32px;
    margin-bottom: 0.5em;
}



/*
 * Activity chart
 */
.chart-data {
    font-size: 8pt;
    font-family: "Droid Sans", sans-serif;
    font-color: #777;
    position: relative;
    margin: auto;
    padding-top: 3px;
}

.chart-data .axis path, .chart-data .axis line {
/*
    fill: none;
    stroke: #bbb;
    shape-rendering: geometricPrecision;
*/
    display: none;
}

.chart-data .bars rect {
    fill: steelBlue;
}


/* Next 2 blocks for grid lines */

/*
.chart-data .grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
}

.chart-data .grid path {
    stroke-width: 0;
}
*/
