/* Summary page */

#overview h2 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0.5em;
    text-align: center;
}

#overview h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0.5em;
    margin-top: 0;
    text-align: center;
}

#graph h2 {
    text-align: center;
}
#graph rect {
    cursor: pointer;
}

#fig {
  position: relative;
  margin: auto;
  width: 540px;
  height: 300px;
}

#fig .axis path, #fig .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: geometricPrecision;
}

#fig .area {
  fill: steelBlue;
}

#overview .list-stats {
    text-align: center;
}

#overview p.thread-new {
    text-align: center;
}


#overview .widget {
    padding: 1em;
    border: 1px solid #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 1em 0;
}

#overview .thread {
    margin: 1.5em 0 0 0;
}

#overview .thread-stats {
    margin-left: 3em;
}
#overview .thread-stats ul {
    margin: 0;
}
#overview .thread-stats .category {
    margin-right: 2em;
}

/*
.category {
    font-variant: small-caps;
    font-weight: bold;
    color: white;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    vertical-align: top;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-left: 10px;
}

.category_entry {
    list-style-type: circle;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.category_entry li {
    padding-bottom: 10px;
}
*/

.maker {
    color: rgb(102, 102, 102);
    padding-right: 10px;
    padding-bottom: 20px;
}

.maker-id, .maker-name {
    font-weight: bold;
    font-size: 115%;
    vertical-align: top;
    padding-right: 20px;
}

.maker .gravatar {
    padding-right: 20px;
}

.score{
    font-weight: bold;
}


/* Threads by category */

#discussion-by-category h4 {
    font-size: 105%;
    line-height: 105%;
    margin: 1.5em 0 0.5em 0;
    padding-left: 1em;
    padding-right: 1em;
}
#discussion-by-category h4.first {
    margin-top: 0;
}
#discussion-by-category .thread {
    margin: 0 0 0 0.5em;
}
#discussion-by-category .thread-stats {
    margin-left: 0;
}
#discussion-by-category .thread .category {
    display: none;
}
