/* List of lists */

#logo {
    display: block;
    margin: 120px auto;
    clear: both;
}


/* sides */

.all-lists .side-menu h2 {
    font-size: 100%;
    line-height: 100%;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}
.all-lists .side-menu ul {
    list-style-type: none;
    margin-left: 1em;
}
.all-lists .side-menu li {
    margin: 0.5em 0;
}
.all-lists .lists-menu span.active {
    font-weight: bold;
}


/* title */

.all-lists h1.lists {
    margin-bottom: 0.5em;
}

.all-lists p.hide-switches label {
    display: inline;
    margin-right: 2em;
}
.all-lists p.hide-switches input {
    margin: 0;
}
.all-lists .filter-lists {
    float: right;
    margin-top: 1em;
}


/* initials */

.all-lists .initials {
    right: 0;
    right: -3em; /* there will be an animation to 0 */
    position: absolute;
    text-align: center;
    margin-top: 3em;
    border: 1px solid #bbb;
    border-right: 0;
    background-color: #f8f8f8;
}
.all-lists .initials h2 {
    font-size: 18pt;
    margin-bottom: 0.2em;
}
.all-lists .initials ul {
    margin: 0;
}
.all-lists .initials ul li {
    margin: 0;
}
.all-lists .initials ul a {
    display: block;
    padding: 0.5em 1em;
}
.all-lists .initials ul a:hover {
    background-color: #ddd;
    text-decoration: none;
}


/* main content */

.all-lists div.lists {
    padding-right: 4em;
}

.all-lists table.lists th {
    color: #999;
    text-transform: uppercase;
    font-size: small;
    font-weight: normal;
}

.all-lists table.lists tbody tr.list {
    border: 1px solid #ccc;
}
.all-lists table.lists tbody tr.list:hover {
    cursor: pointer;
    color: white;
    background-color: #0088cc;
}
.all-lists table.lists tbody tr.list:hover a {
    color: white;
}
.all-lists table.lists tbody tr.list:hover .chart-data .bars rect {
    fill: white;
}

.all-lists table.lists tr.spacer td {
    height: 0.5em;
    padding: 0;
}

.all-lists table.lists td {
    vertical-align: middle;
    padding: 5px 8px;
}

.all-lists table.lists .list-name {
    font-size: 120%;
    color: black;
    font-weight: bold;
}
.all-lists table.lists .list-tags {
    font-size: 80%;
    color: #999;
    font-style: italic;
}
.all-lists table.lists .list-address {
    font-size: 90%;
}
.all-lists table.lists td.activity {
    width: 260px;
}
.all-lists table.lists .chart {
    height: 35px;
}
.all-lists table.lists .chart .ajaxloader {
    margin: 0 auto;
    padding-top: 5px;
}
.all-lists table.lists ul.list-stats {
    margin: 0;
    text-align: center;
}
.all-lists table.lists ul.list-stats li {
    display: inline;
    font-size: 85%;
}

.all-lists table.lists tr.private {
    background-color: #e6f2f5;
}
.all-lists table.lists tr.private .list-name {
    color: #2e6c83;
}

.all-lists table.lists tr.inactive {
    background-color: #eee;
    display: none;
}
.all-lists table.lists tr.inactive .list-name {
    color: #999;
}

.all-lists table.lists tr span.new {
    font-size: 78%;
    text-transform: uppercase;
    margin-right: 0.5em;
}
