/*
 * Threads view header
 */

#thread-list .thread-list-header {
    margin-bottom: 4em;
}

#thread-list .thread-list-header .thread-list-info {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#thread-list .thread-list-header .thread-list-info li {
    display: inline;
    margin-right: 2em;
}
#thread-list .thread-list-header .thread-list-info li.list-address {
    font-size: 120%;
    margin-right: 4em;
}

#thread-list .thread-list-header .thread-new {
    float: right;
}

#thread-list .thread-list-header form {
    margin-bottom: 0;
    float: right;
}
#thread-list .thread-list-header form select {
    margin-bottom: 0;
    width: auto;
}


/*
 * Thread view
 */

.thread {
    margin: 2em 0 2em 0;
}

.thread-id {
    font-weight: bold;
    font-size: 125%;
    color: rgb(102, 102, 102);
    vertical-align: top;
    padding-right: 10px;
}

.thread-title {
    font-weight: bold;
}

.thread-date {
    font-style: italic;
    font-size: 70%;
    color: rgb(128, 0, 0);
    margin-left: 1em;
}

.thread-info {
    text-align:right;
    clear: both;
    margin-left: 60px;
}

.thread .thread-category {
    /*margin-left: 1em;*/
    float: left;
}

.thread-title .category {
  width: 15%;
  text-align: center;
  margin-right: 1%;
}

.thread-info .tags {
    display: inline;
    margin-right: 1em;
}
.thread-info .tags li {
    padding: 0 0.2em 0 0.2em;
}
.thread-info .tags a {
    font-size: 90%;
}

.thread-info .thread-show {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 2em;
}

.thread-content {
    margin-top: 0.5em;
}
.thread-content .gravatar {
    float: left;
}
.thread-content .gravatar a {
    color: black;
}
.thread-content .thread-email {
    display: block;
    margin-left: 60px;
    margin-bottom: 5px;
}

/* Part containing the body of the mail which can be shown/hidden */
.expander {
    background-image: linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, rgb(236,236,236)),
        color-stop(1, rgb(255,255,255))
    );
    border-style: solid;
    border-width: 1px;
    border-color: rgb(236,236,236);
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    display: block;
    vertical-align: top;
    white-space: pre;
}

.thread-email .expander.collapsed {
    white-space: normal;
}

/*
.thread-email span.read-more a,
.thread-email span.read-less a {
    display: block;
    float: right;
    margin-top: 0.5em;
}
*/
