body {
    position: relative;
    padding-top: 75px;/* floating navbar's height */
    background-color: white;
}

/* Sometimes jQuery UI overwrites the Bootstrap values */

a {
    color: #0088cc;
}


/* NAVBAR */
nav {
    padding-top: 5px;
    padding-bottom: 5px;
}
/* login/logout */
ul.auth a:last-child {
    padding-right: 0; /* will be flush with right margin */
}
/* override bootstrap color for search button */
nav .input-group-addon {
    background: inherit;
}
/* hack: forces search box to appear on one line in navbar in larger screens */
/* hack: we need extra .input-group to force search box to appear on one line in smaller screens */
/* note: any pixel-based width will allow hack to work */
@media (min-width: 768px) {
    nav .input-group {
        width: 200px;
    }
}