/* Summary page */

#overview h3 {
    line-height: 1.5em;
    margin-top: 3em;
	color: #999;
	text-transform: uppercase;
	font-size: small;
	font-weight: normal;
}

/*
#overview .widget {
    padding: 1em;
    border: 1px solid #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 1em 0;
}
*/
/*
.category {
    font-variant: small-caps;
    font-weight: bold;
    color: white;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    vertical-align: top;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-left: 10px;
}

.category_entry {
    list-style-type: circle;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.category_entry li {
    padding-bottom: 10px;
}
*/

#highlights {
	padding-left: 0;
}
#highlights #breadcrumb .root:after {
	content: ">";
	color: #000;
}

#highlights .chart-data {
  padding-top: 3px;
  border: 1px solid #bbb;
}
#highlights .chart {
  /*margin-top: 2em;*/
  height: 60px;
}

#statistics {
	color: #555;
}
#statistics .chart-caption {
	font-size: x-small;
	margin-top: -0.25em;
}
#statistics .duration-text {
	margin-bottom: 0.25em;
}
#statistics .list-stats .item {
	display: table-row;
}
#statistics .list-stats .item > * {
	display: table-cell;
}
#statistics .list-stats i {
	padding-right: 0.25em;
}

.maker {
    color: rgb(102, 102, 102);
    padding-bottom: 1.43em;
}
.maker-details {
	margin-left: 0.5em;
}
.maker-id {
  color: #aaa;
}

#most-active h3 {
	margin-top: 0;
}

/* this needs to be integrated into hyperkitty-threadslist.css eventually */
#discussions .thread {
	border: 1px solid #e5e5e5;
	margin: 0.25em 0;
	min-height: 1.2em;
}

#overview .thread-title-info {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.5em;
}
#overview .thread-stats {
    padding: 0.5em 0;
}
#overview .thread-stats ul {
	text-align: right;
	margin: 0.2em 0 0;
	line-height: 1em;
}

#overview .category {
    margin-right: 2em;
}

/* Threads by category */
#discussion-by-category h4 {
    font-size: 105%;
    line-height: 105%;
    margin: 1.5em 0 0.5em 0;
    padding-left: 1em;
    padding-right: 1em;
}
#discussion-by-category h4.first {
    margin-top: 0;
}
#discussion-by-category .thread {
    margin: 0 0 0 0.5em;
}
#discussion-by-category .thread-stats {
    margin-left: 0;
}
#discussion-by-category .thread .category {
    display: none;
}
