body {
	position: relative;
	padding-top: 70px;
	background-color: white;
}

ul.nav.auth {
    margin: 0;
}

.navbar .breadcrumb {
    padding: 15px 30px 0px 30px;
    margin: 0;
    background-color: transparent;
}
.navbar .breadcrumb > li > a {
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.navbar .breadcrumb > li > a:focus,
.navbar .breadcrumb > li > a:hover {
    color: #333333;
    text-decoration: none;
    background-color: transparent;
}
.navbar .breadcrumb>li+li:before {
	content: ">";
	color: rgb(153, 153, 153);
}


/* Sometimes jQuery UI overwrites the Bootstrap values */

a, .ui-widget-content a {
  color: #0088cc;
}
