body {
	position: relative;
	padding-top: 70px;
	background-color: white;
}

ul.nav.auth {
    margin: 0;
}
.navbar-header {
	padding-left: 0;
}
.navbar .breadcrumb {
    padding: 1em 2em 0 0;
    margin: 0;
    background-color: transparent;
}
.navbar .breadcrumb > li > a {
    color: #777;
    text-decoration: none;
}
.navbar .breadcrumb > li > a:focus,
.navbar .breadcrumb > li > a:hover {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}
.navbar .breadcrumb>li+li:before {
	content: ">";
	color: rgb(153, 153, 153);
}

/* Sometimes jQuery UI overwrites the Bootstrap values */

a, .ui-widget-content a {
  color: #0088cc;
}
