{% load url from future %}

        {{ category_form.errors.category }}
        <a class="label {% if not user.is_authenticated %} disabled {% endif %}"
           {% if category %}style="background-color:{{category.color}}"{% endif %}
           {% if user.is_authenticated %}
           title="Click to edit"
           {% else %}
           title="You must be logged-in to edit."
           {% endif %}
           >
            {% if category %}
            {{ category.name|upper }}
            {% else %}
            no category
            {% endif %}
        </a>
        <form method="post" action="{% url 'thread_set_category' mlist_fqdn=mlist.name threadid=threadid %}">
            {% csrf_token %}
            {{ category_form.as_p }}
        </form>

