{% load url from future %}
{% load hk_generic %}

<div id="months-list" class="span2">
    {% for year, months in months_list|sort %}
    <h3>{{ year }}</h3>
    <ul>
        {% for ar_month in months %}
        <li class="{% if month and year == month.year and ar_month == month.month %}current{% endif %}">
            <a href="{% url 'archives_with_month' year=year mlist_fqdn=mlist.name month=ar_month %}"
               >{{ ar_month|monthtodate:year|date:"F" }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
