{% load gravatar %}
{% load hk_generic %}

<!-- right column -->
<section id="thread_overview_info">
	<!-- Start dates -->
	<div id="thread_date_info">
		<div class="days_num inline-block">
			{{ days_inactive }}
		</div>
		<div class="days_text inline-block">
			days
			<br />
			inactive
		</div>
		<div id="days_old" class="days_num inline-block">
			{{ days_old }}
		</div>
		<div class="days_text inline-block">
			days
			<br />
			old
		</div>
	</div>
    {% if use_mockups %}
	<p id="add_to_fav">
		<a href="#AddFav" class="notsaved">Add to favorite discussions</a>
	</p>
    {% endif %}
	<!-- End dates -->
	<hr id="grey"/>
	<div id="tags">
		<span id="tag_title">tags </span>({{tags|length}})
		{% if tags|length %}
		<ul class="inline">
			{% for tag in tags %}
			<li>
				<a href="{% url search_tag mlist_fqdn=list_address, tag=tag.tag %}" > {{ tag.tag }} </a>|
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	<div id="add_tag">
		<form id="add_tag_form" name="addtag" action="{% url add_tag mlist_fqdn=list_address, email_id=threadid %}" method="post">
			{% csrf_token %}
			{{ addtag_form.as_p }}
		</form>
	</div>
	<div id="participants">
		<span id="participants_title">participants</span> ({{participants|length}})
		<ul>
			{% for name, email in participants.items|sort %}
			<li>
				{% gravatar_img_for_email email 20 %}
				{{ name|escapeemail }}
			</li>
			{% endfor %}
		</ul>
	</div>
</section>


