{% load gravatar %}
{% load hk_generic %}

<!-- right column -->
<section id="thread-overview-info">
	<!-- Start dates -->
	<div id="thread-date-info" class="row-fluid">
		<div class="days-num">
			{{ days_inactive }}
		</div>
		<div class="days-text">
			days
			<br />
			inactive
		</div>
		<div class="days-num">
			{{ days_old }}
		</div>
		<div class="days-text">
			days
			<br />
			old
		</div>
	</div>
	<form id="fav_form" name="favorite" method="post" class="favorite"
		  action="{% url favorite mlist_fqdn=mlist.name, threadid=threadid %}">
		{% csrf_token %}
		<input type="hidden" name="action" value="{{ fav_action }}" />
		<p>
			<a href="#AddFav" class="notsaved{% if not user.is_authenticated %} disabled" title="You must be logged-in to have favorites.{% endif %}">Add to favorite discussions</a>
			<a href="#RmFav" class="saved">Remove from favorite discussions</a>
		</p>
	</form>
	<!-- End dates -->
	<div id="tags">
		{% include 'threads/tags.html' %}
	</div>
	<div id="add-tag">
		<form id="add-tag-form" name="addtag" method="post"
		      action="{% url add_tag mlist_fqdn=mlist.name, threadid=threadid %}">
			{% csrf_token %}
			{{ addtag_form.as_p }}
		</form>
	</div>
	<div id="participants">
		<span id="participants_title">participants</span> ({{participants|length}})
		<ul>
			{% for name, email in participants.items|sort %}
			<li>
				{% gravatar email 20 %}
				{{ name|escapeemail }}
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

{# vim: set noet: #}
