{% load url from future %}
{% load gravatar %}
{% load hk_generic %}
{% load storm %}

        <div class="thread{% if thread.unread %} unread{% endif %}">
            <div class="{% if thread.favorite %}saved{% else %}notsaved{% endif %}">
                <span class="thread-title">
                    {% if thread.unread %}
                        <i class="unread icon-eye-close" title="New messages in this thread"></i>
                    {% endif %}
                    <a name="{{thread.thread_id}}"
                       href="{% url 'thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}"
                       >{{ thread.starting_email.subject|strip_subject:mlist }}</a></span>
                <span class="thread-date"
                      title="{{ thread|get_date|date:"l, j F Y H:i:s" }}">
                    {{ thread|get_date|timesince }}
                </span>
            </div>
            <div class="thread-content">
                <div class="gravatar">
                    {% if thread.starting_email.sender_email %}
                    {% gravatar thread.starting_email.sender_email 40 %}
                    <br />
                    {% endif %}
                    {{ thread.starting_email.sender_name|escapeemail }}
                </div>
                <div class="thread-email">
                    <span class="expander collapsed">
                        {{ thread.starting_email.content|urlizetrunc:76|escapeemail }}
                    </span>
                </div>
            </div>
            <div class="thread-info">
                <span class="thread-category">
                    {% include 'threads/category.html' with category=thread.category_hk category_form=thread.category_form threadid=thread.thread_id %}
                </span>
                <div class="tags">
                    {% if thread.tags|length %}
                    Tags:
                    <ul class="tags inline">
                    {% for tag in thread.tags %}
                        <li>
                            <a href="{% url 'search_tag' mlist_fqdn=mlist.name tag=tag.tag %}">{{tag.tag}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <span class="participant">{{ thread.participants_count }} participants</span>
                <span class="discussion">{{ thread|length }} comments</span>
                {% include "messages/like_form.html" with message_id_hash=thread.starting_email.message_id_hash object=thread %}
                <a href="{% url 'thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}"
                   class="btn thread-show">Show discussion</a>
            </div>
        </div>
