{% load i18n %}
{% load hk_generic %}

        <div class="thread row">
            <span class="thread-title col-tn-12">
                {% if counter %}<span class="thread-id">#{{counter}}</span>{% endif %}
                <a name="{{thread.thread_id}}"
                    href="{% url 'hk_thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}"
                    >
                    {% if thread.category_widget %}
                        <span class="label category" style="background-color:{{thread.category_widget.color}}">
                            {{ thread.category_widget.name|upper }}
                        </span>
                    {% endif %}
                    {% if thread|is_unread_by:request.user %}
                        <i class="fa fa-envelope" title="{% trans 'New messages in this thread' %}"></i>
                    {% endif %}
                    {{ thread.subject|strip_subject:mlist }}
                </a>
            </span>
            <div class="thread-stats col-tn-12">
                <span class="date">{{ thread.date_active|date:"D M j, g:i a" }}</span>
                <ul class="list-unstyled pull-right list-stats">
                    <li>
                        <i class="icomoon participant"></i>
                        {{ thread.participants_count }}
                    </li>
                    <li>
                        <i class="icomoon discussion"></i>
                        {{ thread|num_comments }}
                    </li>
                    <li class="hidden-tn">
                        {% with votes=thread.get_votes %}
                        <i class="icomoon likestatus {{ votes.status }}"></i>
                        <span class="likestatus">+{{ votes.likes }}/-{{ votes.dislikes }}</span>
                        {% endwith %}
                    </li>
                </ul>
            </div>
        </div>
