{% load i18n %}
{% load gravatar %}
{% load hk_generic %}

        {% with starting_email=thread.starting_email %}
        <div class="thread{% if thread|is_unread_by:request.user %} unread{% endif %}">
            <span class="thread-title">
                <a name="{{thread.thread_id}}"
                   href="{% url 'hk_thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}"
                    >
                    {% if thread.favorite %}
                    <i class="fa fa-star saved" title="{% trans 'Favorite' %}"></i>
                    {% endif %}
                    {% if thread|is_unread_by:request.user %}
                    <i class="fa fa-envelope" title="{% trans 'New messages in this thread' %}"></i>
                    {% endif %}
                    {{ starting_email.subject|strip_subject:mlist }}
                </a>
            </span>
            <span class="thread-date"
                  title="{{ thread.date_active|date:"l, j F Y H:i:s" }}">
                {{ thread.date_active|timesince }}
            </span>
            <div class="thread-info row">
                <div class="thread-content col-tn-12 col-xs-10 col-lg-11">
                    <div class="thread-email">
                        <span class="expander collapsed">
                            {{ starting_email.content|urlizetrunc:76|escapeemail }}
                        </span>
                    </div>
                </div>
                <div class="gravatar col-tn-3 col-xs-2 col-lg-1">
                    {% if starting_email.sender.address %}
                    {% gravatar starting_email.sender.address 40 %}
                    <br />
                    {% endif %}
                    {{ starting_email.sender.name|escapeemail }}
                </div>
                <div class="thread-extras col-tn-9 col-xs-10 col-lg-11">
                    <div class="row">
                        <div class="thread-category col-tn-12 col-xs-6 col-sm-3">
                            {% include 'hyperkitty/threads/category.html' with category=thread.category_hk category_form=thread.category_form threadid=thread.thread_id %}
                        </div>
                        <div class="col-tn-12 col-xs-6 col-sm-4">
                            {% include "hyperkitty/messages/like_form.html" with message_id_hash=starting_email.message_id_hash object=thread %}
                        </div>
                        <ul class="list-unstyled list-stats col-tn-12 col-sm-5">
                        <li>
                            <i class="icomoon participant"></i> {{ thread.participants_count }} {% trans "participants" %}
                        </li>
                        <li>
                            <i class="icomoon discussion"></i> {{ thread|num_comments }} {% trans "comments" %}
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="thread-info">
                <div class="tags">
                    {% if thread.tags|length %}
                    {% trans "Tags:" %}
                    <ul class="list-unstyled tags">
                    {% for tag in thread.tags %}
                        <li>
                            <a href="{#% url 'hk_search_tag' mlist_fqdn=mlist.name tag=tag.tag %#}">{{tag.tag}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <!--<a href="{% url 'hk_thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}"-->
                <!--   class="btn btn-default thread-show">Show discussion</a>-->
            </div>
        </div>
        {% endwith %}
