{% load url from future %}

        <span id="tag-title">tags </span>({{thread.tags.distinct.count}})
        <ul class="inline">
            {% for tag in thread.tags.distinct %}
            <li>
                <a href="{#% url 'hk_search_tag' mlist_fqdn=thread.mailinglist.name tag=tag.name %#}"
                   title="Search for tag {{ tag.name|escape }}">{{ tag.name }}</a>
                {% if user in tag.users.all %}
                <form method="post" class="rmtag" action="{% url 'hk_tags' mlist_fqdn=thread.mailinglist.name threadid=thread.thread_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="rm" />
                    <input type="hidden" name="tag" value="{{ tag.name|escape }}" />
                    <a href="#rmtag" title="Remove">&times;</a>
                </form>
                {% endif %}
                {% if not forloop.last %} <span>|</span> {% endif %}
            </li>
            {% endfor %}
        </ul>
