body {
	position: relative;
	padding-top: 70px;
	background-color: white;
}

ul.nav.auth {
    float: right;
    margin: 0;
}

#search-form {
    float: right;
    margin-right: 4em;
    padding: 5px 0;
}
#search-form form {
    margin-bottom: 0;
}
