body {
	position: relative;
	padding-top: 70px;
	background-color: white;
}


ul.nav.auth {
    float: right;
    margin: 0;
}



.Sb {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: white;
	clear: both;
	font-size: 13px;
	line-height: 1.4;
	margin: 20px 0 20px 68px;
	outline: none;
	position: relative;
	width: 497px;
	word-wrap: break-word;
}

.ZX {
	color: #999;
	height: 40px;
	margin: 0 2px;
	position: relative;
	bottom: -3px;
	background-color: #F8F8F8;
	border: 1px solid #CCC;

}

.socialLogin {
	list-style: none;
	margin: 0px;
}

.socialLogin li {
	float: left;
	padding: 5px;
}

.right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.inline li, .inline-block li {
    display: inline-block;
    list-style-type: none;
}


/* Add icons to some text */
.participant, .discussion, .saved, .notsaved {
    padding-left: 20px;
    padding-right: 10px;
    background: no-repeat scroll left center;
}

.participant {
    background-image: url("../img/participant.png");
    padding-left: 16px;
}

.discussion {
    background-image: url("../img/discussion.png");
}

.saved {
    background-image: url("../img/saved.png");
}

.notsaved {
    background-image: url("../img/notsaved.png");
}

.gravatar {
    vertical-align: top;
    width:40px;
    font-size: 70%;
}

.gravatar img {
    width: 40px;
}

/* Like / dislike */

form.likeform {
    display: inline;
    margin: 0;
    padding: 0;
}
.likestatus {
    padding-left: 20px;
    margin-right: 3em;
    font-weight: bold;
}
.neutral {
    background: url("../img/neutral.png") no-repeat scroll left;
}

.like {
    background: url("../img/like.png") no-repeat scroll left;
}

.likealot {
    background: url("../img/likealot.png") no-repeat scroll left;
}

.youlike {
    background: url("../img/youlike.png") no-repeat scroll left;
    padding-left: 15px;
    padding-right: 5px;
}
.youdislike {
    background: url("../img/youdislike.png") no-repeat scroll left;
    padding-left: 15px;
    padding-right: 5px;
}

/* Top of the page -- header */
.header {
    background-color: rgb(236, 236, 236);
	min-height : 100px;
}

#white {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
}

#headline {
    min-height: 50px;
}

.list_nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
}

.list_nav li {
   float: left;
   margin-left: 20px;
}

.nav .root {
    font-weight: bold;
}

#thread_content {
   width: 70%;
}

#top_right {
    position: absolute;
    right: 20px;
    bottom: 0;
    color: rgb(102, 102, 102);
}

#top_right li {
    margin-left:10px;
}

#page_date {
    font-size: 150%;
}


#searchbox {
    text-align:right;
    padding-right: 20px;
}

#searchbox input {
    width: 250px
}

#searchbox input::-webkit-input-placeholder {
    font-style: italic;
}

#searchbox input:-moz-placeholder {
    font-style: italic;
}

#recent_activities, #month-view {
    width: 88%;
    margin-right: 10px;
    float: right;
}

#archives {
    width: 9%;
    float: left;
}

#archives h3.ui-state-hover {
    cursor: pointer;
    text-decoration: underline;
}
#archives h3.ui-state-active.ui-state-hover {
    cursor: text;
    color: inherit;
    text-decoration: none;
}

#archives ul {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

#archives li {
    list-style-type: none;
}
#archives li.current {
    font-weight: bold;
}

#graph h2 {
    text-align: center;
}


/* Month view header */

#month-view .month-header {
    margin-bottom: 4em;
}

#month-view .month-header .list-name {
    display: inline;
    font-size: 190%;
    font-weight: bold;
    padding-right: 0.5em;
}

#month-view .month-header .month-name {
    display: inline;
    font-size: 190%;
    padding-right: 1em;
}

#month-view .month-header .month-info {
    display: inline;
    list-style-type: none;
}
#month-view .month-header .month-info li {
    display: inline;
}

/* Thread list */

.thread {
    margin-bottom: 3em;
}

.thread_title {
    font-weight: bold;
    font-size: 125%;
}

.thread_date {
    font-style: italic;
    font-size: 70%;
    color: rgb(128, 0, 0);
}

.thread_content {
    margin-top: 0.5em;
}

.thread_info {
    text-align:right;
}
.thread_info .btn {
    padding-top: 2px;
    padding-bottom: 2px;
}

.thread_content .thread_email {
    display: inline-block;
    margin-bottom: 5px;
}

.tags {
    text-align:left;
    margin: 0px 0px 0px 200px;
    padding: 0px;
}

/* Part containing the body of the mail which can be shown/hidden */
.expander {
    width: 740px;
    background-image: linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, rgb(236,236,236)),
        color-stop(1, rgb(255,255,255))
    );
    border-style: solid;
    border-width: 1px;
    border-color: rgb(236,236,236);
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding-left: 20px;
    margin-left: 21px;
    display: inline-block;
    vertical-align: top;
    white-space: pre;
}

.expander a {
    float: right;
    padding: 20px 10px 0px 0px;
}

/* Thread types */
.type {
    font-variant: small-caps;
    font-weight: bold;
    color: white;
    padding: 3px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    vertical-align: top;
    width: 110px;
    text-align:center;
}

.type a {
    color: white;
}

.type_question {
    background-color: rgb(179, 128, 255);
}

.type_agenda {
    background-color: rgb(42, 127, 255);
}

.type_todo {
    background-color: rgb(200, 171, 55);
}

.type_dead {
    background-color: rgb(0, 0, 0);
}

.type_announcement {
    background-color: rgb(170, 212, 0);
}

.type_policy {
    background-color: rgb(200, 55, 171);
}

.type_test {
    background-color: rgb(200, 171, 55);
}

.invisible {
    visibility: hidden;
}

.removed {
    display: none;
}

p.attachments {
    margin-bottom: 0;
    font-weight: bold;
}
li.attachments a.attachments {
    padding-left: 20px;
    margin-left: 1em;
    background: url("../img/mail-attachment.png") no-repeat scroll left;
}
li.attachments ul {
    position: absolute;
    background-color: #F6F6F6;
    padding-left: 20px;
    margin-left: 1em;
}
li.attachments ul li {
    list-style-position: inside;
    padding-left: 0.5em;
}

ul.attachments-list li {
    display: list-item;
    list-style-type: disc;
}


/* Message view */

.message-header {
    margin-bottom: 3em;
}

.message-header .thread-back {
    display: block;
    padding-top: 38px;
    width: 160px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('../img/button_back.png');
    margin-bottom: 1em;
}


/* Thread view */

.thread-header {
    /*background-color: #f6f6f6;*/
    /*border-bottom: 1px solid #b3b3b3;*/
    margin-bottom: 6em;
    padding: 1em 0;
}

.thread-header h1,
.message-header h1 {
    text-align: center;
    font-size: 24px;
    line-height: 26px;
}

.thread-header .thread-older,
.thread-header .thread-newer {
    display: block;
    padding-top: 38px;
    width: 160px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    color: #aaaaaa;
}
.thread-header .thread-older {
    float: right;
    background-image: url('../img/button_older.png');
}
.thread-header .thread-newer {
    float: left;
    background-image: url('../img/button_newer.png');
}

#thread_nav{
    margin:auto;
    width:100%;
    text-align:center;
}

#thread_nav * {
    vertical-align: middle;
}

#thread_nav .thread_title{
    margin:auto;
    width: 50%;
}

#thread_nav br {
    margin-top: 10px;
}

#thread_nav .thread_info {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 70%;
    font-weight: normal;
    text-align: center;
}

#thread_nav .thread_info li {
    margin-left:3em;
}

#olderhread, #newewthread {
    font-size: 70%;
    color: rgb(167, 169, 172);
}

#olderhread {
    float: right;
    margin-top: 2em;
    margin-right: 20px;
}

/* Define the two columns */
#thread_content {
    width: 74%;
}

#thread_overview_info {
    float: right;
    width: 22%;
}

/* Thread general information column */
#days_old {
    margin-left:1em;
}

.days_text {
    font-size: 70%;
}

.days_num {
    font-size: 200%;
}

#add_to_fav a{
    color: rgb(167, 169, 172);
}

#grey {
    color: rgb(167, 169, 172);
    background-color: rgb(167, 169, 172);
    margin: 0px;
    border: 0 none;
    height: 1px;
}

#tags {
    color: rgb(167, 169, 172);
    margin-top: 2em;
}

#tag_title {
    color: rgb(77, 77, 77);
    text-transform: uppercase;
}

#tags ul {
    padding: 10px 0;
    margin: 0;
}

#add_tag {
    margin-top: 0.3em;
}

#participants {
    margin-top: 2em;
    color: rgb(167, 169, 172);
}

#participants_title {
    color: rgb(77, 77, 77);
    text-transform: uppercase;
}

#participants ul {
    padding: 0;
    margin: 0;
}

#participants li {
    list-style-type: none;
    margin: 1em 0;
}

#participants img {
    width: 20px;
    vertical-align: middle;
}


/* Main section with the whole thread */

/* First email of the thread. */

.first_email {
}

.email_header {
    position:relative;
    margin-bottom: 1em;
    height: 40px;
}

.email_header .gravatar {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.email_author .name{
    color: rgb(55, 113, 200);
    font-weight: bold;
}
.email_author .rank{
    color: rgb(167, 169, 172);
    font-size: 80%;
    font-weight: bold;
}

.email .email_date {
    font-size: 90%;
}
.first_email .email_date {
    text-align: right;
}
.email_date .date {
    font-weight: bold;
}
.email_date .time {
    color: rgb(167, 169, 172);
    margin-left: 0.5em;
    border-bottom: 1px dashed rgb(167, 169, 172);
    cursor: help;
}

.add_comment {
    float: right;
}

/* The email thread */
.even, .odd {
    border-top: 1px solid rgb(179, 179, 179);
    padding: 1em;
	margin: 20px 0px 20px 0px;
}
.even {
    background-color: rgb(246, 246, 246);
}
.odd {
    background-color: rgb(238, 238, 238);
}

.email {
}

.email .email_header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.email .email_author {
    font-size: 90%;
}

.first_email_body, .email_body {
    white-space: pre;
    display: inline-block;
}
.first_email_body {
    width: 100%;
    overflow: auto;
}
.email_body{
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(179, 179, 179);
    padding: 5px;
    min-height: 40px;
    background-color: rgb(255, 255, 255);
    width: 95%;
}


.email_body span.read-more a,
.email_body span.read-less a {
    float: right;
    padding: 3px 10px 0px 0px;
}

.email_info {
    padding: 0px;
    margin-top: 5px;
}

.email_body .quoted-text {
    display: none;
}

