{% extends "base.html" %}
{% load url from future %}


{% block title %}
Error: the database schema needs an upgrade
    - {{ app_name|title }}
{% endblock %}

{% block content %}

<div class="row-fluid">

    <div class="span2">
    </div>

    <div class="span7">
        <p class="text-error">
            The database schema needs to be upgraded. Please refer to
            <a href="http://hyperkitty.readthedocs.org/en/latest/install.html#upgrading">the documentation</a>
            to perform this task.
        </p>
        <p>When you're done, <a href="{% url 'root' %}">go back</a> to the front page.</p>
    </div>

</div>

{% endblock %}
