{% load i18n %}
{% load gravatar %}
{% load hk_generic %}

        <div class="thread">
            <div>
                <span class="thread-title">
                    <a name="{{message.message_id_hash}}"
                       href="{% url 'hk_message_index' mlist_fqdn=message.mailinglist_id message_id_hash=message.message_id_hash %}"
                       >{{ message.subject|strip_subject:mlist }}</a></span>
                <span class="thread-date">{{ message.date|timesince }}</span>
            </div>
            <div class="thread-info row">
                <div class="thread-content col-tn-12 col-xs-10 col-lg-11">
                    <div class="thread-email">
                        <span class="expander collapsed">
                            {{ message.content|urlizetrunc:76|escapeemail }}
                        </span>
                    </div>
                </div>
                <div class="gravatar col-tn-3 col-xs-2 col-lg-1">
                    {% if message.sender.mailman_id %}
                    <a href="{% url 'hk_public_user_profile' user_id=message.sender.mailman_id %}"
                       title="{% trans 'See the profile for {{ message.sender.name|escapeemail|escape }}' %}">
                    {% endif %}
                    {% if message.sender.address %}
                    {% gravatar message.sender.address 40 %}
                    <br />
                    {% endif %}
                    {{ message.sender.name|escapeemail }}
                    {% if message.sender.mailman_id %}
                    </a>
                    {% endif %}
                </div>
                <div class="thread-extras col-tn-9 col-xs-10 col-lg-11">
                    <div class="thread-category col-tn-12 col-xs-6 col-sm-3">
                        {% include 'hyperkitty/threads/category.html' with category=message.category_hk category_form=message.category_form thread=message.thread %}
                    </div>
                    <div class="col-tn-12 col-xs-6 col-sm-4">
                        {% include "hyperkitty/messages/like_form.html" with message_id_hash=message.message_id_hash object=message %}
                    </div>
                </div>
            </div>
            <div class="thread-info">
                {% if message.tags|length %}
                {% trans "Tags:" %}
                <ul class="list-unstyled tags">
                {% for tag in message.tags %}
                    <li>
                        <a href="{#% url 'hk_search_tag' mlist_fqdn=message.mailinglist_id tag=tag.tag %#}">{{tag.tag}}</a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
