<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="ROBOTS" content="INDEX, FOLLOW" />
		<title>{% block title %}{{ app_name }}{% endblock %}</title>
		<meta name="author" content="" />
		<meta name="dc.language" content="en" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/normalize.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
		{% block additional_stylesheets %} {% endblock %}
	</head>
	{% load i18n %}

	<body>
	<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <div class="nav-collapse collapse">
	          	
	           	{% if user.is_authenticated %}
					 <li class="user_nav">
					 	<a class="mm_logout" style="float:right;" href="{% url user_logout %}">Logout</a>
					 </li>
					 <li class="user_nav" style="float:right;">
					 	<a style="float:right;" href="{% url user_profile %}">{{ user.username }}</a>
					</li>
				{% else %}
					 <li class="user_nav" style="float:right;">
					 	<a class="mm_user" style="float:right;" href="{% url user_login %}">Login</a>
					 </li>
					 <li class="user_nav" style="float:right;">
					 	<a style="float:right;" href="{% url user_registration %}"> Sign Up </a>
					</li>
				{% endif %}		  


	            <ul class="nav">

				{% if list_address %}
					<li id="list_name">
						<a href="/list/{{list_address}}">{{list_address}}</a>
					</li>
				{% endif %}


		        </ul>
	          </div>
	        </div>
	      </div>
	</div>


	

		<div class="container">
			{% block content %} {% endblock %}
		</div>
		{% block footer %} {% endblock %}
	</body>

	<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"></script>
	{% block additionaljs %} {% endblock %}
</html>
