<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="INDEX, FOLLOW" />

  <title>{% block title %}Mail app{% endblock %}</title>
  <meta name="author" content="" />

  <meta name="dc.language" content="en" />

  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />

  {% block additional_headers %}
  {% endblock %}
</head>

<body>

  <!-- Header -->
  <div class="header">
    <div id="headline">
      <ul class="inline-block">
        <li id="list_name"><a href="/">{{list_name}}</a></li>
        <li id="page_date">{{month}}</li>
      </ul>
      <div id="top_right">
        <form action="/search/{{list_address}}" method="get">
        {{ search_form }}
      </form> 
      </div>
    </div>
    <p id="list_email">
      <a href="mailto:{{list_address}}">
        {{list_address}}
      </a>
    </p>
    <p id="list_email" class='inline'>
      <a href="/">
        All lists
      </a>
    </p>
    <div id="thread_nav">
      {% if next_thread %}
      <div id="newewthread" class="inline-block">
        <a href="{{ next_thread_id }}">
          <img src="{{ STATIC_URL }}img/button_newer.png" alt="New thread" />
        </a>
        <br />
        {{next_thread}}
      </div>
      {% endif %}

      <div class="inline-block thread_title">
        <span class="type type_question">
          <a href="/tag/question"> question </a>
        </span>
        <br />
        {{first_mail.email.Subject}}
        <ul class="inline thread_info">
          <li class="participant"> {{participants|length}} participants</li>
          <li class="discussion"> {{answers}} comments</li>
        </ul>
      </div>
  
      {% if prev_thread %}
      <div id="olderhread" class="inline-block right">
        <a href="{{ prev_thread_id }}">
          <img src="{{ STATIC_URL }}img/button_older.png" alt="New thread" />
        </a>
        <br />
        {{prev_thread}}
      </div>
      {% endif %}
      
    </div>

    
    <hr id="white"/>
    <hr />
  </div>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
