<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="INDEX, FOLLOW" />

  <title>{% block title %}Mail app{% endblock %}</title>
  <meta name="author" content="" />

  <meta name="dc.language" content="en" />

  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />

  {% block additional_headers %}
  {% endblock %}
</head>

<body>
  <!-- Header -->
  <div class="header">
    {% block header %}
    <div id="headline">
      <ul class="inline-block">
        {% if list_address  %}
        <li id="list_name"><a href="/2/list/{{list_address}}">{{list_name}}</a></li>
        {% else %}
        <li id="list_name"><a href="/2/list/">{{list_name}}</a></li>
        {% endif %}
        <li id="page_date">{{month}}</li>
      </ul>
      {% if month_participants and month_discussions %}
      <ul class="inline-block" id="top_right">
        <li class="participant"> {{month_participants}} participants</li>
        <li class="discussion"> {{month_discussions}} discussions</li>
        <li class="saved"> 1 saved</li>
      </ul>
      {% endif %}
    </div>
    {% if list_address  %}
    <p id="list_email">
      <a href="mailto:{{list_address}}">
        {{list_address}}
      </a>
    </p>
    <p id="list_email" class='inline'>
      <a href="/2/">
        All lists
      </a>
    </p>
    <div id="searchbox">
      <form action="/2/search/{{list_address}}" method="get">
        {{ search_form }}
      </form> 
    </div>
    {% endif %}
    <div id="newthread">
      <a href="#Create_new_thread">
        <img src="{{ STATIC_URL }}img/newthread.png" alt="New thread" />
      </a>
    </div>
    <hr id="white"/>
    <hr />
  </div>
  {% endblock %}

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
