{% extends "base.html" %}
{% load gravatar %}

{% block title %}{{ app_name }}{% endblock %}

{% block additional_stylesheets %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/thread.css" />

{% endblock %}

{% block content %}

  <div class="content">

    <!-- main section, the email thread -->
    <section id="thread_content">
      <!-- Start first email -->
	{% include 'messages/first_email.html' with first_mail=message %}
      <!-- End first email -->

    </section>

  </div> <!-- end of content -->
{% endblock %}

{% block additionaljs %}

<script type="text/javascript">

$(document).ready(function() {
	    $("#voteup").click(function(){  
	    	$.ajax({
	        	type: "POST",
		        url: '/vote/{{list_address}}/{{message.message_id}}/',
		        data: { vote : 1, messageid : "{{message.message_id}}" ,  list: "{{list_address}}", csrfmiddlewaretoken: '{{ csrf_token }}' },
		        success: function(response){
		            alert(response);
		        }
	        });
	    	return false;
	    });

	    $("#votedown").click(function(){  
	    	$.ajax({
	        	type: "POST",
		        url: '/vote/{{list_address}}/{{message.message_id}}/',
		        data: { vote : -1, messageid : "{{message.message_id}}" ,  list: "{{list_address}}", csrfmiddlewaretoken: '{{ csrf_token }}' },
		        success: function(response){
		            alert(response);
		        }
	        });
	    	return false;
	    });

});

</script>

{% endblock %}
