{% load gravatar %}

     <div class="email_header">
                {% gravatar_img_for_email email.email 40 %}
                <div class="email_author inline-block">
                    <a href="/message/{{list_address}}/{{email.message_id}}">{{email.sender}}</a>
                  <br />
                  <span class="rank">Rank 8</span>
                </div>
                <div class="email_date inline-block right">
                  <span class="date">{{email.date}}</span>
                  <br />
                </div>
              </div>
              <div class="email_body">
                  {{email.content}}
              </div>
	      <ul class="email_info inline">
	          <li class="neutral"> 0</li>
	          <li id="voteup"> <a href="#like"> Like</a></li>
	          <li id="votedown"> <a href="#dislike"> Dislike</a></li>
	          <li class="discussion add_comment"> <a href="#comment"> Add your own comment</a></li>
	      </ul>

