{% load cycle from future %}
{% load i18n %}
{% load hk_generic %}

                {% for email in replies %}
                <div class="{% cycle 'odd' 'even' %}"
                    {% if email.level %}style="margin-left:{{ email.level|multiply:"2" }}em;"{% endif %}>
                    <!-- Start email -->
                    <!-- email level: {{ email.level }} -->
                    {% include 'hyperkitty/messages/message.html' %}
                    <!-- End of email -->
                </div>
                {% endfor %}
